/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../scss/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../scss/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  ===========     General Rule & Styling     =============
===========================================================*/
/* line 16, ../scss/main.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 22, ../scss/main.scss */
html {
  box-sizing: border-box;
}

/* line 26, ../scss/main.scss */
*:focus {
  outline: none;
}

/* line 30, ../scss/main.scss */
body {
  overflow: scroll;
}

/* line 1, ../scss/_global.scss */
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
title,
html,
div,
button,
input,
select,
textarea {
  letter-spacing: 1px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 23, ../scss/_global.scss */
h1,
h2,
h3,
title {
  color: #202334;
  letter-spacing: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 32, ../scss/_global.scss */
h4,
h5,
h6 {
  color: #4A4A4A;
  letter-spacing: 1px;
  font-family: "MuseoSans", "Open Sans", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 41, ../scss/_global.scss */
a,
p,
span,
title,
html,
div,
button,
input,
select,
textarea {
  color: #4A4A4A;
  font-family: "MuseoSans", "Open Sans", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 56, ../scss/_global.scss */
a {
  text-decoration: none;
}

/* line 60, ../scss/_global.scss */
caption {
  display: none;
}

/* line 64, ../scss/_global.scss */
.overlayStyle {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
}

/* line 74, ../scss/_global.scss */
p {
  font-size: 1em;
  letter-spacing: 0.5px;
}

/* line 79, ../scss/_global.scss */
.button_container {
  text-align: center;
}

/* line 83, ../scss/_global.scss */
.acc-btn {
  background: #4A4A4A;
  border-radius: 2px;
  border: none;
  text-align: center;
  display: inline-block;
  width: 240px;
  height: 40px;
  padding: 0 0;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-box-shadow: 0 3px 0 #242424;
  -moz-box-shadow: 0 3px 0 #242424;
  -ms-box-shadow: 0 3px 0 #242424;
  -o-box-shadow: 0 3px 0 #242424;
  box-shadow: 0 3px 0 #242424;
  color: white;
  text-transform: uppercase;
  font-size: 0.9em;
}
/* line 19, ../scss/_mixin.scss */
.acc-btn:active {
  -webkit-box-shadow: 0 1px 0 #242424;
  -moz-box-shadow: 0 1px 0 #242424;
  -ms-box-shadow: 0 1px 0 #242424;
  -o-box-shadow: 0 1px 0 #242424;
  box-shadow: 0 1px 0 #242424;
}
/* line 24, ../scss/_mixin.scss */
.acc-btn:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}

/* line 91, ../scss/_global.scss */
.createSocial {
  display: none;
}
@media (min-width: 400px) {
  /* line 91, ../scss/_global.scss */
  .createSocial {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    width: 380px;
    margin: auto auto;
    margin-top: 7vh;
  }
}

/* line 103, ../scss/_global.scss */
.svg {
  background: url("../img/svg/social/sprite_map.svg");
  overflow: hidden;
}
/* line 106, ../scss/_global.scss */
.createSocial .svg {
  width: 55px;
  height: 55px;
}

/* line 113, ../scss/_global.scss */
.instagram {
  background-position: 0 -55px;
}

/* line 117, ../scss/_global.scss */
.linkedin {
  background-position: 0 -110px;
}

/* line 121, ../scss/_global.scss */
.twitter {
  background-position: 0 -165px;
}

/* line 125, ../scss/_global.scss */
.youtube {
  background-position: 0 -220px;
}

/* line 129, ../scss/_global.scss */
.booking-btn {
  background: #555c82;
  border-radius: 2px;
  border: none;
  text-align: center;
  display: inline-block;
  width: 110px;
  height: 30px;
  padding: 0 0;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-box-shadow: 0 3px 0 #373b54;
  -moz-box-shadow: 0 3px 0 #373b54;
  -ms-box-shadow: 0 3px 0 #373b54;
  -o-box-shadow: 0 3px 0 #373b54;
  box-shadow: 0 3px 0 #373b54;
  color: white;
  font-size: 0.85em;
}
/* line 19, ../scss/_mixin.scss */
.booking-btn:active {
  -webkit-box-shadow: 0 1px 0 #373b54;
  -moz-box-shadow: 0 1px 0 #373b54;
  -ms-box-shadow: 0 1px 0 #373b54;
  -o-box-shadow: 0 1px 0 #373b54;
  box-shadow: 0 1px 0 #373b54;
}
/* line 24, ../scss/_mixin.scss */
.booking-btn:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}

/* line 1, ../scss/sideMenu/_objects.layout.scss */
.o-content {
  padding-top: 50px;
}

/* -----------------------------------------------------------------------------

  WRAPPER OBJECT
  
----------------------------------------------------------------------------- */
/* line 13, ../scss/sideMenu/_objects.layout.scss */
.o-wrapper {
  transition: transform 0.3s;
  overflow-x: hidden;
}

/* -----------------------------------------------------------------------------

  CONTAINER OBJECTS
  
----------------------------------------------------------------------------- */
/* line 28, ../scss/sideMenu/_objects.layout.scss */
.o-container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 960px;
}

@media all and (min-width: 480px) {
  /* line 36, ../scss/sideMenu/_objects.layout.scss */
  .o-container {
    padding: 0 24px;
  }
}
@media all and (min-width: 720px) {
  /* line 44, ../scss/sideMenu/_objects.layout.scss */
  .o-container {
    padding: 0 48px;
  }
}
/* -----------------------------------------------------------------------------

  HEADER OBJECT
  
----------------------------------------------------------------------------- */
/* line 60, ../scss/sideMenu/_objects.layout.scss */
.o-header {
  margin: 0;
  padding: 0;
}

/* line 65, ../scss/sideMenu/_objects.layout.scss */
.o-header-nav {
  display: flex;
  justify-content: space-between;
}

/* line 70, ../scss/sideMenu/_objects.layout.scss */
.o-header-nav__link {
  padding: 12px;
  color: #fff;
}

/* line 75, ../scss/sideMenu/_objects.layout.scss */
.o-header-nav__link:hover {
  color: #fff;
}

/* line 79, ../scss/sideMenu/_objects.layout.scss */
.o-header__title {
  margin: 24px;
  padding: 0;
  color: #818181;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

@media all and (min-width: 480px) {
  /* line 90, ../scss/sideMenu/_objects.layout.scss */
  .o-header__title {
    margin: 36px;
    font-size: 42px;
  }
}
/* -----------------------------------------------------------------------------

  MAIN OBJECT
  
----------------------------------------------------------------------------- */
/* line 107, ../scss/sideMenu/_objects.layout.scss */
.o-main {
  /**/
}

/* -----------------------------------------------------------------------------

  SUB-NAVIGATION OBJECT
  
----------------------------------------------------------------------------- */
/* line 121, ../scss/sideMenu/_objects.layout.scss */
.o-sub-nav {
  margin: 0 0 24px 0;
  padding: 0;
}

/* line 126, ../scss/sideMenu/_objects.layout.scss */
.o-sub-nav__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 135, ../scss/sideMenu/_objects.layout.scss */
.o-sub-nav__item {
  margin: 0;
  padding: 4px;
}

/* line 140, ../scss/sideMenu/_objects.layout.scss */
.o-sub-nav__link {
  display: block;
  margin: 0;
  padding: 4px 24px;
}

/* line 146, ../scss/sideMenu/_objects.layout.scss */
.o-sub-nav__link:hover,
.o-sub-nav__item.active .o-sub-nav__link {
  color: #fff;
}

@media all and (min-width: 720px) {
  /* line 153, ../scss/sideMenu/_objects.layout.scss */
  .o-sub-nav {
    margin: 0 0 48px 0;
  }
}
/* -----------------------------------------------------------------------------

  FOOTER OBJECT
  
----------------------------------------------------------------------------- */
/* line 169, ../scss/sideMenu/_objects.layout.scss */
.o-footer {
  padding: 12px 0;
  text-align: center;
}

@media all and (min-width: 480px) {
  /* line 176, ../scss/sideMenu/_objects.layout.scss */
  .o-footer {
    padding: 24px 0;
  }
}
@media all and (min-width: 720px) {
  /* line 184, ../scss/sideMenu/_objects.layout.scss */
  .o-footer {
    padding: 48px 0;
  }
}
/* -----------------------------------------------------------------------------

  SLIDE AND PUSH MENUS COMPONENT
  
----------------------------------------------------------------------------- */
/**
 * Menu overview.
 */
/* line 16, ../scss/sideMenu/_components.menus.scss */
.c-menu {
  position: fixed;
  z-index: 2000;
  background-color: #333645;
  transition: transform 0.3s;
}

/* line 23, ../scss/sideMenu/_components.menus.scss */
.c-menu__items {
  list-style: none;
  padding: 0;
}

/**
 * Left and right menus
 *
 * Slide and push menus coming in from the left and right inherit a lot of
 * common styles. We'll start each of them off by doing up the common styles
 * for each version, followed by individual styles.
 *
 * The various versions are governed by modifier classes.
 */
/**
 * Common modifiers for left/right menus.
 */
/* line 42, ../scss/sideMenu/_components.menus.scss */
.c-menu--slide-left,
.c-menu--push-left {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
@media all and (min-width: 320px) {
  /* line 42, ../scss/sideMenu/_components.menus.scss */
  .c-menu--slide-left,
  .c-menu--push-left {
    width: 300px;
  }
}

/* line 53, ../scss/sideMenu/_components.menus.scss */
.c-menu--slide-left .c-menu__item,
.c-menu--push-left .c-menu__item {
  display: block;
}

/* line 58, ../scss/sideMenu/_components.menus.scss */
.c-menu--slide-left .c-menu__link, .c-menu--slide-left .profile_info h3, .profile_info .c-menu--slide-left h3,
.c-menu--push-left .c-menu__link,
.c-menu--push-left .profile_info h3,
.profile_info .c-menu--push-left h3 {
  display: block;
  padding: 12px 24px 12px 0;
  color: #fff;
}

/* line 65, ../scss/sideMenu/_components.menus.scss */
.c-menu--slide-left .c-menu__close,
.c-menu--push-left .c-menu__close {
  display: block;
  float: right;
  padding: 10px;
}

/**
 * Slide/Push Menu Left.
 */
/* line 80, ../scss/sideMenu/_components.menus.scss */
.c-menu--slide-left,
.c-menu--push-left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
@media all and (min-width: 320px) {
  /* line 80, ../scss/sideMenu/_components.menus.scss */
  .c-menu--slide-left,
  .c-menu--push-left {
    transform: translateX(-300px);
  }
}

/* line 91, ../scss/sideMenu/_components.menus.scss */
.c-menu--slide-left.is-active,
.c-menu--push-left.is-active {
  transform: translateX(0);
}

/**
 * Wrapper states.
 *
 * Various wrapper states occur depending on if a menu is pushing into view, in
 * which case, the wrapper has to be pushed by the respective distance.
 */
/* line 104, ../scss/sideMenu/_components.menus.scss */
.o-wrapper.has-push-left {
  transform: translateX(100%);
}
@media all and (min-width: 320px) {
  /* line 104, ../scss/sideMenu/_components.menus.scss */
  .o-wrapper.has-push-left {
    transform: translateX(300px);
  }
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
/* line 120, ../scss/sideMenu/_components.menus.scss */
body.has-active-menu {
  overflow: hidden;
}

/**
 * Close button resets.
 */
/* line 128, ../scss/sideMenu/_components.menus.scss */
.c-menu__close {
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/* line 140, ../scss/sideMenu/_components.menus.scss */
.c-menu__close:focus {
  outline: none;
}

/* line 153, ../scss/sideMenu/_components.menus.scss */
.profile_info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 45px;
  margin-bottom: 20px;
  margin-left: 45px;
}
/* line 162, ../scss/sideMenu/_components.menus.scss */
.profile_info h3 {
  color: white;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

/* line 172, ../scss/sideMenu/_components.menus.scss */
.c-menu__item {
  position: relative;
}
/* line 175, ../scss/sideMenu/_components.menus.scss */
.c-menu__item h3::before,
.c-menu__item a::before {
  position: absolute;
  top: 1px;
  cursor: pointer;
  padding: 12px 0;
  left: 18px;
}

/* line 185, ../scss/sideMenu/_components.menus.scss */
.user h3::before {
  content: url("../img/svg/gearSetting.svg");
}

/* line 189, ../scss/sideMenu/_components.menus.scss */
.meeting a::before {
  content: url("../img/svg/pplMeeting.svg");
}

/* line 193, ../scss/sideMenu/_components.menus.scss */
.rooms a::before {
  content: url("../img/svg/notepadRoombooking.svg");
}

/* line 197, ../scss/sideMenu/_components.menus.scss */
.availabilities a::before {
  content: url("../img/svg/clockRoomavailability.svg");
}

/* line 201, ../scss/sideMenu/_components.menus.scss */
.search a::before {
  content: url("../img/svg/loopSearchDark.svg");
}

/* line 205, ../scss/sideMenu/_components.menus.scss */
.available a::before {
  content: url("../img/svg/availableRoom.svg");
}

/* line 209, ../scss/sideMenu/_components.menus.scss */
.occupied a::before {
  content: url("../img/svg/occupiedRoom.svg");
}

/* line 213, ../scss/sideMenu/_components.menus.scss */
.menu_nav {
  padding-bottom: 12px;
}

/* line 217, ../scss/sideMenu/_components.menus.scss */
.menu_room {
  padding-top: 12px;
  border-top: solid 0.5px #979797;
}

/* line 222, ../scss/sideMenu/_components.menus.scss */
.c-menu__item {
  padding-left: 45px;
  transition: all 0.3s;
}
/* line 226, ../scss/sideMenu/_components.menus.scss */
.c-menu__item:hover {
  background-color: #202334;
}

/* line 231, ../scss/sideMenu/_components.menus.scss */
.room .c-menu__link, .room .profile_info h3, .profile_info .room h3 {
  color: #9B9B9B;
  padding: 8px 10px;
}

/* -----------------------------------------------------------------------------

  MASK COMPONENT
  
----------------------------------------------------------------------------- */
/* line 7, ../scss/sideMenu/_components.mask.scss */
.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

/* line 20, ../scss/sideMenu/_components.mask.scss */
.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

/* line 1, ../scss/layout/_topNavigation.scss */
.o-header-nav {
  height: 50px;
  background-color: white;
  position: fixed;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  width: 100%;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  padding: 0 20px;
  z-index: 1000;
}
/* line 11, ../scss/layout/_topNavigation.scss */
.o-header-nav svg {
  cursor: pointer;
}

/* line 16, ../scss/layout/_topNavigation.scss */
.nav_options {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  width: 70px;
}

/* line 22, ../scss/layout/_topNavigation.scss */
#notification {
  position: relative;
}

/* line 26, ../scss/layout/_topNavigation.scss */
#notificationAlert {
  background-color: #FF0000;
  position: absolute;
  top: -7px;
  right: -4px;
}
/* line 32, ../scss/layout/_topNavigation.scss */
#notificationAlert p {
  color: white;
  padding: 2px;
  font-size: 0.6em;
  font-weight: 700;
}

/* line 40, ../scss/layout/_topNavigation.scss */
.notification_holder {
  overflow: hidden;
}

/* line 45, ../scss/layout/_topNavigation.scss */
.notification_menu {
  position: absolute;
  top: -500%;
  right: 0;
  width: 275px;
  border: 0.5px solid #979797;
  background-color: white;
  transition: all 0.4s;
}
/* line 54, ../scss/layout/_topNavigation.scss */
.notification_menu--active {
  top: 50px;
}
/* line 58, ../scss/layout/_topNavigation.scss */
.notification_menu .notification_header {
  padding: 7px 7px;
}
/* line 61, ../scss/layout/_topNavigation.scss */
.notification_menu .notification_header p {
  font-weight: 700;
}
/* line 66, ../scss/layout/_topNavigation.scss */
.notification_menu .notification_item {
  padding: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  border-top: solid 0.5px #C7C7C7;
  transition: all 0.3s;
}
/* line 73, ../scss/layout/_topNavigation.scss */
.notification_menu .notification_item:hover {
  background-color: #FFF2DD;
}
/* line 77, ../scss/layout/_topNavigation.scss */
.notification_menu .notification_item p {
  display: inline;
  line-height: 1.1em;
}
/* line 81, ../scss/layout/_topNavigation.scss */
.notification_menu .notification_item p:first-child {
  margin-right: 8px;
}
/* line 86, ../scss/layout/_topNavigation.scss */
.notification_menu .notification_item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* line 92, ../scss/layout/_topNavigation.scss */
.notification_menu .notification_item .notification_info {
  margin-left: 15px;
  margin-bottom: auto;
  margin-top: auto;
}
/* line 99, ../scss/layout/_topNavigation.scss */
.notification_menu .see_all {
  border-top: solid 0.5px #C7C7C7;
  text-align: center;
  padding: 7px;
  cursor: pointer;
}
/* line 105, ../scss/layout/_topNavigation.scss */
.notification_menu .see_all:hover {
  background-color: #FFF2DD;
}
/* line 109, ../scss/layout/_topNavigation.scss */
.notification_menu .see_all p {
  font-weight: 500;
}

/* line 118, ../scss/layout/_topNavigation.scss */
.time_since::before {
  content: url("../img/svg/clockNotificationDelay.svg");
  margin-right: 4px;
}

/* line 3, ../scss/layout/_visitorLayout.scss */
.visitor .menu_nav {
  padding-top: 50px;
}
/* line 7, ../scss/layout/_visitorLayout.scss */
.visitor .c-menu__item {
  padding-left: 20px;
}
/* line 10, ../scss/layout/_visitorLayout.scss */
.visitor .c-menu__item svg {
  margin-right: 10px;
}
/* line 14, ../scss/layout/_visitorLayout.scss */
.visitor .c-menu__item:hover svg path {
  fill: #52C484;
}

/* line 1, ../scss/pages/_profile.scss */
.profile_wrapper {
  width: 100%;
  max-width: 800px;
  margin: auto auto;
  padding-top: 30px;
}

/* line 8, ../scss/pages/_profile.scss */
.compHeader {
  width: 100%;
  height: 260px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -ms-flex-line-pack: center;
  border: 0.5px solid #979797;
}
/* line 16, ../scss/pages/_profile.scss */
.compHeader img {
  margin: auto auto;
  max-width: 95%;
}

/* line 23, ../scss/pages/_profile.scss */
.indHeader {
  width: 100%;
  height: 120px;
  background-color: #202334;
  text-align: center;
  position: relative;
  padding-top: 85px;
}
/* line 31, ../scss/pages/_profile.scss */
.indHeader img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: -70px;
  left: calc(50% - 75px);
  border: 0.5px solid white;
}
/* line 41, ../scss/pages/_profile.scss */
.indHeader h2 {
  color: white;
  font-weight: 500;
  font-size: 1.2em;
}

/* line 48, ../scss/pages/_profile.scss */
.startupHeader {
  width: 100%;
  height: 60px;
  background-color: #202334;
  text-align: center;
  padding-top: 10px;
}
/* line 55, ../scss/pages/_profile.scss */
.startupHeader h2 {
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 6px;
}
/* line 62, ../scss/pages/_profile.scss */
.startupHeader a {
  color: white;
  font-size: 1em;
}

/* line 71, ../scss/pages/_profile.scss */
.profile_tabs .tabs {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 75, ../scss/pages/_profile.scss */
.profile_tabs .top_tab {
  background: #202334;
  border-top: 0.5px white solid;
  border-right: 0.5px white solid;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  transition: background 0.3s;
  cursor: pointer;
}
/* line 83, ../scss/pages/_profile.scss */
.profile_tabs .top_tab:last-child {
  border-right: none;
}
/* line 87, ../scss/pages/_profile.scss */
.profile_tabs .top_tab a {
  width: 100%;
  color: white;
  text-align: center;
  display: block;
  padding: 16px 0px;
  text-transform: uppercase;
  font-weight: 500;
  transition: color 0.3s;
}
/* line 99, ../scss/pages/_profile.scss */
.profile_tabs div.active {
  background: white;
}
/* line 102, ../scss/pages/_profile.scss */
.profile_tabs div.active a {
  color: #202334;
}
/* line 106, ../scss/pages/_profile.scss */
.profile_tabs div.active:first-child {
  border-left: 1px solid #979797;
}
/* line 110, ../scss/pages/_profile.scss */
.profile_tabs div.active:last-child {
  border-right: 1px solid #979797;
}

/* line 117, ../scss/pages/_profile.scss */
.tabInner {
  clear: both;
  border-right: 0.5px solid #979797;
  border-left: 0.5px solid #979797;
  border-bottom: 0.5px solid #979797;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}
/* line 126, ../scss/pages/_profile.scss */
.tabInner .tab {
  padding: 10px;
  min-width: 100%;
  margin-right: 10px;
  background: white;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}

/* line 137, ../scss/pages/_profile.scss */
div[class^="team__"] h2 {
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* line 150, ../scss/pages/_profile.scss */
.team,
.investment,
.p-info {
  margin-bottom: 18px;
}
/* line 155, ../scss/pages/_profile.scss */
.team h3,
.investment h3,
.p-info h3 {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 6px;
}
/* line 161, ../scss/pages/_profile.scss */
.team p,
.investment p,
.p-info p {
  margin-bottom: 6px;
  line-height: 1.2em;
}

/* line 169, ../scss/pages/_profile.scss */
.investment h5,
.investment h4,
.investment span {
  font-size: 1em;
  letter-spacing: 1.29px;
  font-weight: 500;
  color: #202334;
}
/* line 178, ../scss/pages/_profile.scss */
.investment h5 {
  font-style: italic;
  margin-bottom: 5px;
}
/* line 184, ../scss/pages/_profile.scss */
.investment li {
  margin-bottom: 5px;
}

/* line 189, ../scss/pages/_profile.scss */
.team h3,
.investment h3,
.investment h4,
.p-info h3 {
  cursor: pointer;
}
/* line 195, ../scss/pages/_profile.scss */
.team h3::after,
.investment h3::after,
.investment h4::after,
.p-info h3::after {
  content: url("../img/svg/edit.svg");
  margin-left: -8px;
  opacity: 0;
  transition: margin-left 0.1s 0s opacity 0.2s;
}
/* line 203, ../scss/pages/_profile.scss */
.team h3:hover::after,
.investment h3:hover::after,
.investment h4:hover::after,
.p-info h3:hover::after {
  opacity: 1;
  margin-left: 8px;
  transition: margin-left 0.2s, opacity 0.2s;
}

/* line 217, ../scss/pages/_profile.scss */
.employee_Container {
  width: 100%;
  padding: 5px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  border-radius: 2px;
  margin-bottom: 10px;
}
/* line 225, ../scss/pages/_profile.scss */
.employee_Container img.employeeProfile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* line 231, ../scss/pages/_profile.scss */
.employee_Container .removeEmployee {
  display: none;
}
/* line 236, ../scss/pages/_profile.scss */
.employee_Container .employee_info {
  margin-left: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}
/* line 241, ../scss/pages/_profile.scss */
.employee_Container .employee_info h3,
.employee_Container .employee_info p {
  cursor: initial;
}
/* line 246, ../scss/pages/_profile.scss */
.employee_Container .employee_info h3 {
  margin-top: auto;
}
/* line 249, ../scss/pages/_profile.scss */
.employee_Container .employee_info p {
  margin-bottom: auto;
  margin-top: 5px;
}

/* line 256, ../scss/pages/_profile.scss */
.editEmployee {
  position: relative;
}
/* line 259, ../scss/pages/_profile.scss */
.editEmployee .removeEmployee {
  display: block;
  position: absolute;
  top: -4px;
  left: -4px;
  cursor: pointer;
}

/* line 268, ../scss/pages/_profile.scss */
.team input[type="search"] {
  background-color: white;
  border: 1px solid #979797;
  color: #4A4A4A;
  font-size: 1em;
  width: 100%;
  height: 36px;
  border-radius: 2px;
  padding-left: 6px;
  padding-right: 10px;
}

/* line 287, ../scss/pages/_profile.scss */
.list_saved_container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 293, ../scss/pages/_profile.scss */
.added_list {
  padding: 10px 0px 6px;
}
/* line 296, ../scss/pages/_profile.scss */
.added_list .itemsToEdit {
  border: solid 1px #202334;
  border-radius: 2px;
  padding: 6px 10px;
  background: white;
  font-size: 1em;
  margin-right: 15px;
  margin-bottom: 6px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
/* line 308, ../scss/pages/_profile.scss */
.added_list .itemsToEdit::after {
  content: url("../img/svg/remove-lg.svg");
  position: absolute;
  cursor: pointer;
  top: -6px;
  right: -12px;
}

/* line 320, ../scss/pages/_profile.scss */
.p-info ul {
  padding-left: 20px;
}
/* line 323, ../scss/pages/_profile.scss */
.p-info ul li {
  list-style: initial;
  margin-bottom: 8px;
}

/* line 339, ../scss/pages/_profile.scss */
#social a::before,
#startup_media a::before,
#media a::before {
  height: 1em;
  width: 1em;
  margin-right: 6px;
}

/* line 346, ../scss/pages/_profile.scss */
.facebook a::before {
  content: url("../img/svg/facebook.svg");
}

/* line 350, ../scss/pages/_profile.scss */
.twitter a::before {
  content: url("../img/svg/twitter.svg");
}

/* line 354, ../scss/pages/_profile.scss */
.instagram a::before {
  content: url("../img/svg/instagram.svg");
}

/* line 358, ../scss/pages/_profile.scss */
.linkedin a::before {
  content: url("../img/svg/linkedin.svg");
}

/* line 362, ../scss/pages/_profile.scss */
.angel a::before {
  content: url("../img/svg/angellist.svg");
}

/* line 374, ../scss/pages/_profile.scss */
.saveEditing {
  display: none;
}

/* line 378, ../scss/pages/_profile.scss */
.saveEditing,
.editOptions {
  width: 100%;
  text-align: right;
  margin-top: auto;
}
/* line 384, ../scss/pages/_profile.scss */
.saveEditing a,
.editOptions a {
  text-decoration: underline;
  font-weight: 600;
}

/* line 398, ../scss/pages/_profile.scss */
.editMode {
  display: none;
  background: #D8D8D8;
  padding: 10px;
}
/* line 403, ../scss/pages/_profile.scss */
.editMode textarea,
.editMode input[type="text"],
.editMode input[type="date"],
.editMode input[type="email"],
.editMode input[type="phone"] {
  background: white;
  border: 1px solid #979797;
  border-radius: 2px;
  font-size: 0.8em;
  letter-spacing: 1.69px;
  min-width: 200px;
  padding: 5px;
}
/* line 417, ../scss/pages/_profile.scss */
.editMode textarea,
.editMode input[type="text"] {
  width: 100%;
}
/* line 422, ../scss/pages/_profile.scss */
.editMode textarea {
  height: 80px;
}
/* line 426, ../scss/pages/_profile.scss */
.editMode input[type="phone"],
.editMode input[type="email"] {
  width: 50%;
  min-width: 251px;
  max-width: 500px;
}
/* line 433, ../scss/pages/_profile.scss */
.editMode button {
  font-size: 1em;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  background: #c1c1c1;
  border-radius: 2px;
  border: none;
  text-align: center;
  display: inline-block;
  width: 110px;
  height: 30px;
  padding: 0 0;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-box-shadow: 0 3px 0 #9b9b9b;
  -moz-box-shadow: 0 3px 0 #9b9b9b;
  -ms-box-shadow: 0 3px 0 #9b9b9b;
  -o-box-shadow: 0 3px 0 #9b9b9b;
  box-shadow: 0 3px 0 #9b9b9b;
}
/* line 19, ../scss/_mixin.scss */
.editMode button:active {
  -webkit-box-shadow: 0 1px 0 #9b9b9b;
  -moz-box-shadow: 0 1px 0 #9b9b9b;
  -ms-box-shadow: 0 1px 0 #9b9b9b;
  -o-box-shadow: 0 1px 0 #9b9b9b;
  box-shadow: 0 1px 0 #9b9b9b;
}
/* line 24, ../scss/_mixin.scss */
.editMode button:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}
/* line 439, ../scss/pages/_profile.scss */
.editMode button[type="submit"] {
  background: #7A7F9C;
  -webkit-box-shadow: 0 3px 0 #565a74;
  -moz-box-shadow: 0 3px 0 #565a74;
  -ms-box-shadow: 0 3px 0 #565a74;
  -o-box-shadow: 0 3px 0 #565a74;
  box-shadow: 0 3px 0 #565a74;
}
/* line 444, ../scss/pages/_profile.scss */
.editMode .btnOptions {
  margin-top: 10px;
}
/* line 449, ../scss/pages/_profile.scss */
.editMode .adding_list input[type="text"],
.editMode .adding_list input[type="textarea"] {
  width: calc(99% - 75px);
  min-width: 175px;
}
/* line 456, ../scss/pages/_profile.scss */
.editMode button.add_to_list {
  width: 70px;
}

/* line 463, ../scss/pages/_profile.scss */
.search {
  position: relative;
}
/* line 466, ../scss/pages/_profile.scss */
.search img {
  position: absolute;
  top: 11px;
  right: 15px;
  transition: opacity 0.2s;
}
/* line 473, ../scss/pages/_profile.scss */
.search input:focus + img,
.search input:active + img {
  opacity: 0;
}

/* line 479, ../scss/pages/_profile.scss */
.search_results {
  display: none;
  background-color: #D8D8D8;
  width: 100%;
  margin-top: 10px;
}

/* line 486, ../scss/pages/_profile.scss */
.search_result_startup {
  background-color: white;
  padding: 5px;
  margin-bottom: 1px;
  border-radius: 2px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
/* line 494, ../scss/pages/_profile.scss */
.search_result_startup div,
.search_result_startup h4 {
  margin-bottom: auto;
  margin-top: auto;
}
/* line 500, ../scss/pages/_profile.scss */
.search_result_startup h4 {
  margin-left: 5px;
}
/* line 504, ../scss/pages/_profile.scss */
.search_result_startup:hover {
  background: #FFF2DD;
}

/* line 518, ../scss/pages/_profile.scss */
.degree i:before {
  content: url("../img/svg/diploma.svg");
  margin-right: 4px;
}
/* line 523, ../scss/pages/_profile.scss */
.degree i {
  display: inline-block;
  margin: 5px;
}
/* line 528, ../scss/pages/_profile.scss */
.degree .list_saved_container i {
  border: none;
}
/* line 532, ../scss/pages/_profile.scss */
.degree .added_list i {
  padding: 5px 10px;
}

/* line 543, ../scss/pages/_profile.scss */
.logo_container {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  height: auto;
  width: auto;
  min-width: 40px;
  min-height: 40px;
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
}
/* line 74, ../scss/_mixin.scss */
.logo_container:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
/* line 80, ../scss/_mixin.scss */
.logo_container > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 557, ../scss/pages/_profile.scss */
.logo_container img {
  display: block;
  margin: auto;
  height: 15px;
}

/* line 566, ../scss/pages/_profile.scss */
.startup_coached form {
  width: 100%;
}
/* line 570, ../scss/pages/_profile.scss */
.startup_coached input[type="search"] {
  background-color: white;
  border: 1px solid #979797;
  color: #4A4A4A;
  font-size: 1em;
  width: 100%;
  height: 36px;
  border-radius: 2px;
  padding-left: 6px;
  padding-right: 10px;
}
/* line 583, ../scss/pages/_profile.scss */
.startup_coached .edit a::after {
  content: url("../img/svg/remove-sm.svg");
  position: absolute;
  top: 1px;
  right: -4px;
}
/* line 590, ../scss/pages/_profile.scss */
.startup_coached .logo_container {
  margin-right: 4px;
}

/* line 603, ../scss/pages/_profile.scss */
.startup_stage {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 606, ../scss/pages/_profile.scss */
.startup_stage .stage {
  padding: 8px 0px;
  background-color: white;
  border: 1px solid #FBB147;
  text-align: center;
  border-right: none;
  width: 25%;
}
/* line 614, ../scss/pages/_profile.scss */
.startup_stage .stage:last-child {
  border-right: 1px solid #FBB147;
}
/* line 619, ../scss/pages/_profile.scss */
.startup_stage .stage p {
  color: #202334;
  padding: 0;
  margin: 0;
  font-weight: 500;
}
/* line 627, ../scss/pages/_profile.scss */
.startup_stage .completed {
  background-color: #FBB147;
  position: relative;
}
/* line 631, ../scss/pages/_profile.scss */
.startup_stage .completed p::after {
  content: url("../img/svg/completedStage.svg");
  margin-left: 4px;
}
/* line 636, ../scss/pages/_profile.scss */
.startup_stage .completed::after {
  content: url("../img/svg/separators.svg");
  position: absolute;
  left: 0px;
  top: 3px;
}
/* line 643, ../scss/pages/_profile.scss */
.startup_stage .completed:first-child::after {
  content: "";
}

/* line 656, ../scss/pages/_profile.scss */
.inves__round {
  margin-top: 14px;
  margin-bottom: 24px;
}
/* line 660, ../scss/pages/_profile.scss */
.inves__round .round__name {
  font-weight: 500;
  padding-left: 0;
  margin-left: 10px;
  position: relative;
  display: initial;
}
/* line 667, ../scss/pages/_profile.scss */
.inves__round .round__name .underline {
  position: absolute;
  width: 100%;
  border-bottom: 2px solid #FBB147;
  right: 0;
  bottom: -1px;
}
/* line 675, ../scss/pages/_profile.scss */
.inves__round .round__name span {
  font-weight: inherit;
}

/* line 681, ../scss/pages/_profile.scss */
.removeRound {
  margin-right: 4px;
  display: none;
  cursor: pointer;
}

/* line 689, ../scss/pages/_profile.scss */
.editingRound .removeRound {
  display: inline-block;
}

/* line 702, ../scss/pages/_profile.scss */
.use_of_funds {
  margin-bottom: 15px;
  margin-top: 9px;
}
/* line 706, ../scss/pages/_profile.scss */
.use_of_funds h4 {
  margin-bottom: 3px;
}

/* line 713, ../scss/pages/_profile.scss */
.investment .exp_fund_details {
  font-weight: 300;
  font-size: 0.7em;
  cursor: pointer;
  position: relative;
}
/* line 719, ../scss/pages/_profile.scss */
.investment .exp_fund_details::after {
  height: 0;
  width: 0;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #FBB147;
  border-top: 5px solid transparent;
  position: absolute;
  top: 3px;
  right: -9px;
  content: "";
  transition: all 0.2s;
}
/* line 728, ../scss/pages/_profile.scss */
.investment .exp_fund_details.expand::after {
  transform: rotate(90deg);
}
/* line 733, ../scss/pages/_profile.scss */
.investment .amount,
.investment .name {
  display: inline-block;
  margin-top: 10px;
}
/* line 738, ../scss/pages/_profile.scss */
.investment .amount input,
.investment .name input {
  min-width: 100px;
}
/* line 743, ../scss/pages/_profile.scss */
.investment .amount {
  width: 110px;
  padding-left: 10px;
}
/* line 748, ../scss/pages/_profile.scss */
.investment .name {
  width: calc(100% - 120px);
}

/* line 755, ../scss/pages/_profile.scss */
.fund_details {
  display: none;
  padding-top: 4px;
}

/* line 760, ../scss/pages/_profile.scss */
div[class^="edit_funds"] {
  margin-top: 20px;
}

/* line 764, ../scss/pages/_profile.scss */
.addRound button {
  background: #7A7F9C;
  border-radius: 2px;
  border: none;
  text-align: center;
  display: inline-block;
  width: 110px;
  height: 30px;
  padding: 0 0;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-box-shadow: 0 3px 0 #565a74;
  -moz-box-shadow: 0 3px 0 #565a74;
  -ms-box-shadow: 0 3px 0 #565a74;
  -o-box-shadow: 0 3px 0 #565a74;
  box-shadow: 0 3px 0 #565a74;
  font-size: 1em;
}
/* line 19, ../scss/_mixin.scss */
.addRound button:active {
  -webkit-box-shadow: 0 1px 0 #565a74;
  -moz-box-shadow: 0 1px 0 #565a74;
  -ms-box-shadow: 0 1px 0 #565a74;
  -o-box-shadow: 0 1px 0 #565a74;
  box-shadow: 0 1px 0 #565a74;
}
/* line 24, ../scss/_mixin.scss */
.addRound button:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}

/* line 1, ../scss/pages/_signup.scss */
.signup_wrapper {
  max-width: 420px;
  margin: auto auto;
  padding: 0 10px;
}
/* line 6, ../scss/pages/_signup.scss */
.signup_wrapper .header {
  margin-top: 10vh;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  position: relative;
}
@media (min-width: 410px) {
  /* line 6, ../scss/pages/_signup.scss */
  .signup_wrapper .header {
    margin-top: 6vh;
    margin-bottom: 4vh;
  }
}
@media (min-width: 420px) {
  /* line 6, ../scss/pages/_signup.scss */
  .signup_wrapper .header {
    margin-top: 6vh;
    margin-bottom: 2vh;
  }
}
/* line 24, ../scss/pages/_signup.scss */
.signup_wrapper .header input {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}
/* line 34, ../scss/pages/_signup.scss */
.signup_wrapper .header .profilePicture {
  display: inline-block;
  background-position: 0 -275px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
@media (min-width: 420px) {
  /* line 34, ../scss/pages/_signup.scss */
  .signup_wrapper .header .profilePicture {
    background-position: 0 -375px;
    width: 140px;
    height: 140px;
  }
}

/* line 51, ../scss/pages/_signup.scss */
.profileInput {
  width: 100%;
}
/* line 54, ../scss/pages/_signup.scss */
.profileInput .input {
  width: 100%;
  position: relative;
  margin-bottom: 5px;
}
@media (min-width: 370px) {
  /* line 54, ../scss/pages/_signup.scss */
  .profileInput .input {
    margin-bottom: 12px;
  }
}
@media (min-width: 410px) {
  /* line 54, ../scss/pages/_signup.scss */
  .profileInput .input {
    margin-bottom: 18px;
  }
}
/* line 67, ../scss/pages/_signup.scss */
.profileInput .input input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #979797;
  font-size: 1em;
  color: #4A4A4A;
  border-radius: 2px;
  padding-left: 30px;
}
/* line 77, ../scss/pages/_signup.scss */
.profileInput .input input:active, .profileInput .input input:focus {
  border-bottom: 2px solid #979797;
}
/* line 83, ../scss/pages/_signup.scss */
.profileInput .input div {
  position: absolute;
  top: 10px;
  left: 5px;
}
/* line 87, ../scss/pages/_signup.scss */
.profileInput .input div.personCreate {
  width: 18px;
  height: 19px;
  background-position: 0 -515px;
}
/* line 92, ../scss/pages/_signup.scss */
.profileInput .input div.emailCreate {
  width: 15px;
  height: 13px;
  background-position: 0 -534px;
}
/* line 97, ../scss/pages/_signup.scss */
.profileInput .input div.lockCreate {
  width: 15px;
  height: 17px;
  background-position: 0 -547px;
}
/* line 105, ../scss/pages/_signup.scss */
.profileInput .button_container {
  margin-top: 30px;
}
@media (min-width: 370px) {
  /* line 105, ../scss/pages/_signup.scss */
  .profileInput .button_container {
    margin-top: 7vh;
  }
}
/* line 112, ../scss/pages/_signup.scss */
.profileInput .button_container a {
  margin-top: 15px;
  display: block;
}

/* line 1, ../scss/pages/_baseAccount.scss */
.headerPicture {
  margin: 10vh 0;
  text-align: center;
}
/* line 5, ../scss/pages/_baseAccount.scss */
.headerPicture img {
  height: 30vh;
  width: 30vh;
}

/* line 11, ../scss/pages/_baseAccount.scss */
.accountManagement {
  max-width: 400px;
  margin: auto auto;
  padding: 0 10px;
}

/* line 23, ../scss/pages/_baseAccount.scss */
.input_form {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
/* line 26, ../scss/pages/_baseAccount.scss */
.input_form button {
  width: 100%;
  border-radius: 0;
}

/* line 32, ../scss/pages/_baseAccount.scss */
.input {
  position: relative;
}
/* line 35, ../scss/pages/_baseAccount.scss */
.input input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  border: none;
  border-bottom: #cacaca 1px solid;
  font-size: 0.8em;
}
/* line 44, ../scss/pages/_baseAccount.scss */
.input div {
  position: absolute;
  top: 12px;
  left: 12px;
}
/* line 48, ../scss/pages/_baseAccount.scss */
.input div.personCreate {
  width: 18px;
  height: 19px;
  background-position: 0 -515px;
}
/* line 53, ../scss/pages/_baseAccount.scss */
.input div.emailCreate {
  width: 15px;
  height: 13px;
  background-position: 0 -534px;
}
/* line 58, ../scss/pages/_baseAccount.scss */
.input div.lockCreate {
  width: 15px;
  height: 17px;
  background-position: 0 -547px;
}

/* line 67, ../scss/pages/_baseAccount.scss */
.message {
  padding: 0 8px 5vh;
  text-align: center;
}
/* line 71, ../scss/pages/_baseAccount.scss */
.message p {
  line-height: 1.5em;
}

/* line 85, ../scss/pages/_baseAccount.scss */
.forget .createSocial {
  margin-top: 12vh;
}

/* line 95, ../scss/pages/_baseAccount.scss */
.oth_links {
  position: absolute;
  bottom: 4vh;
  left: 0;
  padding: 0 20px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
/* line 106, ../scss/pages/_baseAccount.scss */
.oth_links a {
  font-size: 0.7em;
}
@media (min-width: 400px) {
  /* line 95, ../scss/pages/_baseAccount.scss */
  .oth_links {
    position: initial;
    margin-top: 20px;
    padding: 0;
  }
}

/* line 123, ../scss/pages/_baseAccount.scss */
.responseImg {
  width: 30vh;
  height: 30vh;
  margin: auto;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 133, ../scss/pages/_baseAccount.scss */
.responseImg img {
  margin: auto;
  width: 20vh;
  height: 20vh;
}
/* line 138, ../scss/pages/_baseAccount.scss */
.responseImg div {
  margin: auto;
  width: 20vh;
  height: 20vh;
}
/* line 142, ../scss/pages/_baseAccount.scss */
.responseImg div.xMark {
  background-position: 0 71.25%;
  background-size: 20vh;
}

/* line 1, ../scss/pages/_roomBookings.scss */
.booking_wrapper {
  margin: auto auto;
  padding: 0 0;
}
/* line 5, ../scss/pages/_roomBookings.scss */
.booking_wrapper .header {
  width: 100%;
}
/* line 7, ../scss/pages/_roomBookings.scss */
.booking_wrapper .header .headerNav {
  height: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
/* line 13, ../scss/pages/_roomBookings.scss */
.booking_wrapper .header .headerPicture {
  margin: 5vh 0;
  text-align: center;
}
/* line 16, ../scss/pages/_roomBookings.scss */
.booking_wrapper .header .headerPicture img {
  border-radius: 50%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  height: 25vh;
  width: 25vh;
}

/* line 28, ../scss/pages/_roomBookings.scss */
.roomBoard {
  width: 100%;
  margin: auto auto;
}

/* line 34, ../scss/pages/_roomBookings.scss */
.upcoming {
  width: 100%;
  height: 50px;
  border: #cacaca 1px solid;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
/* line 41, ../scss/pages/_roomBookings.scss */
.upcoming p {
  margin: auto;
  margin-left: 15px;
  font-size: 16px;
  font-family: '.HelveticaNeueDeskInterface-Regular';
  line-height: 1.1;
  letter-spacing: 1.9px;
  color: #848484;
}
/* line 50, ../scss/pages/_roomBookings.scss */
.upcoming button {
  margin: auto;
  margin-right: 15px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

/* line 57, ../scss/pages/_roomBookings.scss */
.history {
  width: 100%;
  height: 50px;
  border: #cacaca 1px solid;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
/* line 64, ../scss/pages/_roomBookings.scss */
.history p {
  margin: auto;
  margin-left: 15px;
  font-size: 16px;
  font-family: '.HelveticaNeueDeskInterface-Regular';
  line-height: 1.1;
  letter-spacing: 1.9px;
  color: #848484;
}

/* line 75, ../scss/pages/_roomBookings.scss */
.upcomingBox,
.historyBox {
  max-width: 100%;
  margin: auto auto;
  padding: 0 15px;
  padding-bottom: 15px;
}

/* line 86, ../scss/pages/_roomBookings.scss */
.room {
  position: relative;
  margin-top: 15px;
  padding: 10px 10px;
  width: 100%;
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 #b4b4b4;
  border: solid 0.5px #c7c7c7;
  display: block;
}
/* line 96, ../scss/pages/_roomBookings.scss */
.room.new {
  height: 45vh;
}
/* line 99, ../scss/pages/_roomBookings.scss */
.room.old {
  height: 35vh;
}
/* line 102, ../scss/pages/_roomBookings.scss */
.room .room-detail div {
  font-family: 'Avenir-book';
  font-size: 0.9em;
  letter-spacing: 1.3px;
  color: #4A4A4A;
  line-height: 130%;
}
/* line 108, ../scss/pages/_roomBookings.scss */
.room .room-detail div.roomName {
  font-family: 'Avenir-medium';
  letter-spacing: 1.7px;
  font-size: 1.2em;
}
/* line 113, ../scss/pages/_roomBookings.scss */
.room .room-detail div.capacity {
  padding-top: 15px;
}
/* line 116, ../scss/pages/_roomBookings.scss */
.room .room-detail div.time {
  position: relative;
}
/* line 118, ../scss/pages/_roomBookings.scss */
.room .room-detail div.time .duration {
  padding-left: 20px;
}
/* line 121, ../scss/pages/_roomBookings.scss */
.room .room-detail div.time .meetingClock {
  position: absolute;
  width: 18px;
  height: 18px;
  background-position: 0 -770px;
}
/* line 130, ../scss/pages/_roomBookings.scss */
.room .room-edit {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
/* line 134, ../scss/pages/_roomBookings.scss */
.room .room-edit a {
  font-family: '.HelveticaNeueDeskInterface-Regular';
  font-size: 1.1em;
  letter-spacing: 1.7px;
  padding: 2px 8px;
  color: #555c82;
}
/* line 140, ../scss/pages/_roomBookings.scss */
.room .room-edit a.verticalLine {
  border-left: solid 2px #979797;
}

/* line 1, ../scss/pages/_baseBooking.scss */
.stepHeader {
  margin: 5vh auto;
  width: 50%;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
}
/* line 7, ../scss/pages/_baseBooking.scss */
.stepHeader .circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #202334;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.33);
}

/* line 52, ../scss/main.scss */
.phpdebugbar p {
  font-size: black;
}
