a,
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
span,
title,
html, 
div,
button,
input,
select, 
textarea {
	letter-spacing: 1px;
	font-weight: 300;
		-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	}

h1, 
h2, 
h3,  
title {
	color: $headerWritting;
	letter-spacing: 1px;
	font-family: $font_stackH;
}

h4, 
h5, 
h6 {
	color: $writting;
	letter-spacing: 1px;
	font-family: $font_stack;
}


a,
p, 
span,
title,
html, 
div,
button,
input,
select, 
textarea {
	color: $writting;
	font-family: $font_stack;
}


a {
	text-decoration: none;
}

caption {
	display: none;
}

body.loggedIn {
	background-color: #E8E8E8;
}

.overlayStyle {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 4999;
}

p {
	font-size: 1em;
	letter-spacing: 0.5px;
}

.button_container {
	text-align: center;
}

.acc-btn {
	@include btn($accountButtonColor, 40px, 240px);
	color: white;
	text-transform: uppercase;
	font-size: 0.9em;
}


.createSocial {
	display: none;

	@media (min-width: 400px) {
		@include display(flex);
		@include justify-content(space-between);
		width: 380px;
		margin: auto auto;
		margin-top: 7vh;
	}
}

.svg {
	background: url("../img/svg/social/sprite_map.svg");
	overflow: hidden;
	.createSocial & {
		width: 55px;
		height: 55px;
	}

}

.instagram {
	background-position: 0 -55px;
}

.linkedin {
	background-position: 0 -110px;
}

.twitter {
	background-position: 0 -165px;
}

.youtube {
	background-position: 0 -220px;
}


.room-btn {
	@include btn($bookingButtonColor, 47px, 228px);
	font-family: 'Avenir-Roman';
	letter-spacing: 1.7px;
	box-shadow: 0 2px 4px 0 #b4b4b4;
	color: lighten(white,10%);
	font-size: 0.85em;
}







