a,
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
span,
title,
html, 
div,
button,
input,
select, 
textarea {
	font-family: $font_stack;
	font-weight: 300;
		-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $writting;
	}

a {
	text-decoration: none;
}

caption{
	display: none;
}

.overlayStyle {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	position: fixed;
}