.o-header-nav {
	height: $navHeight;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.30);
	width: 100%;
	@include align-items(center);
	padding: 0 20px;

	svg {
		cursor: pointer;
	}
}

.nav_options {
	@include display(flex);
	@include justify-content(space-between);
	width: 70px;
}

#notification {
	position: relative;
}

#notificationAlert {
	background-color: #FF0000;
	position: absolute;
    top: -7px;
	right: -4px;

	p {
		color: white;
		padding: 2px;
	    font-size: 0.6em;
	    font-weight: 700;
	}
}