.o-header-nav {
	height: $navHeight;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.30);
	width: 100%;
	@include align-items(center);
	padding: 0 20px;

	svg {
		cursor: pointer;
	}
}

.nav_options {
	@include display(flex);
	@include justify-content(space-between);
	width: 70px;
}

#notification {
	position: relative;
}

#notificationAlert {
	background-color: #FF0000;
	position: absolute;
    top: -7px;
	right: -4px;

	p {
		color: white;
		padding: 2px;
	    font-size: 0.6em;
	    font-weight: 700;
	}
}

.notification_menu {
	display: none;
	float: right;
	width: 275px;
	border: 0.5px solid $greyBorder;

	.notification_header {
		padding: 7px 4px;

		p {
			font-weight: 500;
		}
	}

	.notification_item {
		padding: 8px;
		cursor: pointer;
		@include display(flex);
		border-top: solid 0.5px $insideLines;
		transition: all 0.3s;

		&:hover {
			background-color: $hoverOnWhite;
		}

		p {
			display: inline;
			line-height: 1.1em;

			&:first-child {
				margin-right: 8px;
			}
		}

		img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}

		.notification_info {
			margin-left: 15px;
		    margin-bottom: auto;
		    margin-top: auto;
		}
	}

	.see_all {
		border-top: solid 0.5px $insideLines;
		text-align: center;
		@extend .notification_header;
		cursor: pointer;

		&:hover {
			background-color: $hoverOnWhite;
		}
	}
}



.time_since {
	&::before {
		content: url("../img/svg/clockNotificationDelay.svg");
		margin-right: 4px;
	}
}