
$font_stack: "MuseoSans", "Open Sans", Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font_stackH: "Helvetica Neue", Helvetica, Arial, sans-serif;

// ------------------------------------------------
// 
//       		Colors of D3 app
// 
// ------------------------------------------------

$menu_background: #333645;
$dark_background: #202334;
$dark_backgroundHover: #202334; 
$greyBorder: #979797;
$writting: #4A4A4A;
$headerWritting: #202334;
$hoverOnWhite: #FFF2DD;
$insideLines: #C7C7C7;
$profileEditBackground: #D8D8D8;
$saveEditing: #7A7F9C;
$backgroundButton: #c1c1c1;
$backgroundEmployees: #fff;

// ------------------------------------------------
// 
//       		Dimensions of D3 app
// 
// ------------------------------------------------

$navHeight: 50px;
$profilePictureSize: 150px;
