$font_stack: "MuseoSans", "Open Sans", Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;

// ------------------------------------------------
// 
//       		Colors of D3 app
// 
// ------------------------------------------------

$dark_background: #333645;
$dark_backgroundHover: #202334;
$greyBorder: #979797;
$writting: #4A4A4A;
$hoverOnWhite: #FFF2DD;


// ------------------------------------------------
// 
//       		Dimensions of D3 app
// 
// ------------------------------------------------

$navHeight: 50px;