
$font_stack: "MuseoSans", "Open Sans", Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font_stackH: "Helvetica Neue", Helvetica, Arial, sans-serif;

// ------------------------------------------------
// 
//       		Colors of D3 app
// 
// ------------------------------------------------

$menu_background: #333645;
$dark_background: #202334;
$dark_backgroundAlfa: rgba(32,35,52,0.90);
$dark_backgroundHover: #202334; 
$greyBorder: #979797;
$writting: #4A4A4A;
$headerWritting: #202334;
$hoverOnWhite: #FFF2DD;
$insideLines: #C7C7C7;
$profileEditBackground: #D8D8D8;
$saveEditing: #7A7F9C;
$backgroundButton: #c1c1c1;
$backgroundEmployees: #fff;
$d3Orange: #FBB147;
$d3Red: #D94E4E;
$iconHoverColor: #52C484;
$accountButtonColor: #4A4A4A;
$bookingButtonColor: #555c82;
$bookingWritting: #555c82;
// ------------------------------------------------
// 
//       		Dimensions of D3 app
// 
// ------------------------------------------------

$navHeight: 50px;
$profilePictureSize: 150px;

$porfilePictureSignUpSize: 100px;
$porfilePictureSignUpSize_medium: 140px;

$searchBoxWidth: 210px;
$searchButtonWidth: 100px;
$spacebetweenSearchButton: 10px;



// ------------------------------------------------
// 
//       		Breakpoints of D3 app
// 
// ------------------------------------------------
$medium_size_breakpoint: 450px;











