@charset "utf-8";

//reset against browser agents
@import "_reset.scss";

// Definings Variables
@import "_variables.scss";

// Frameworks & mixins 
@import "bourbon/bourbon";
@import "_mixin.scss";


/*  ===========     General Rule & Styling     =============
===========================================================*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	overflow: scroll;
}


// Basic Styling
@import "_global.scss";
@import "sideMenu/style.scss";
@import "_systemMessages.scss";
@import "layout/_topNavigation.scss";
@import "layout/_visitorLayout.scss";


// Pages  
@import "pages/_profile.scss";
@import "pages/_signup.scss";
@import "pages/_baseAccount.scss";
@import "pages/_roomBookings.scss";
@import "pages/_roomBookingStep1.scss";
@import "pages/_roomBookingStep2.scss";
@import "pages/_roomBookingStep3.scss";
@import "pages/_invitationSelection.scss";
@import "pages/_createMeetingStep1.scss";


.phpdebugbar p {
	font-size: black;
}