@charset "utf-8";

//reset against browser agents
@import "_reset.scss";

// Definings Variables
@import "_variables.scss";

// Frameworks & mixins 
@import "bourbon/bourbon";
@import "_mixin.scss";


/*  ===========     General Rule & Styling     =============
===========================================================*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	overflow: scroll;
}


// Basic Styling
@import "_global.scss";
@import "sideMenu/style.scss";
@import "_topNavigation.scss";


// Pages  
@import "pages/_profile.scss";
@import "pages/_signIn.scss";

@import "pages/_signUp.scss";

@import "pages/_forgetPassword.scss";






.phpdebugbar p {
	font-size: black;
}