/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.signUp_wrapper {
	max-width: 400px;
	margin: auto auto;
}
.pic_container,
.form_container,
.footer {
	width:80%;
	margin: auto auto;
}
.SearchAzax {	
	padding-right: 70px;
	height:20px;
	outline: none;
	border: 2px solid #999999;
	border-radius: 5px;
	background-color: #FBFBFB;
	font-family: Cambria, Cochin, Georgia, serif;
	font-size: 12px;
	background-position: right ;
	background-image: url('../img/svg/search.svg');
	background-repeat: no-repeat;
}
.logIn_image {
	width: 50%;
	margin: auto auto
}
.logIn_pic {
	margin: 40px auto;
	width: 130px;
	height: 130px;
}

.signUp_tabs {
	margin-top: 40px;
	margin-left: 50px;
	margin-right: 50px;
	border: 1px solid #ddd;
	border-radius: 4px;
    box-sizing: border-box;
   
    p {
    	margin: auto auto;
    }
    input[type=text]{
		width: 82px;
		  height: 6px;
		  font-family: Avenir-Book;
		  font-size: 7px;
		  line-height: 0.9;
		  letter-spacing: 0.6px;
		  color: #1d1d26;
    }
     input[type=email]{
    	width: 82px;
		  height: 6px;
		  font-family: Avenir-Book;
		  font-size: 7px;
		  line-height: 0.9;
		  letter-spacing: 0.6px;
		  color: #1d1d26;
    }
    input[type=submit]{
    	width: 70%;
    	background: #808080;
    	color: Grey;
    	&:hover {
    	}
    }
}