<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8">

<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="description" content="Accelerator and Community Management" />
<meta name="keywords" content="Accelerator, Community, Incubator, Management" />
<meta name="google-site-verification" content="" />
<!-- don't forget to set the site up: http://google.com/webmasters -->

<meta name="author" content="D3 Web App" />
<meta name="robots" content="all"/>
<meta name="distribution" content="global"/>
<meta name="resource-type" content="document"/>
<meta name="language" content="en-us"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="copyright" content="D3 Webapp Copyright 2016. All Rights Reserved.">

  <meta name="viewport" content="width=1024">
  <meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="shortcut icon" href="../img/d3logosite-01.png">
<link rel="apple-touch-icon" href="../img/d3logosite-01.png">
<!-- The is the icon for iOS's Web Clip.
         - size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for iPhone4's retina display (IMHO, just go ahead and use the biggest one)
         - To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
         - Transparency is not recommended (iOS will put a black BG behind the icon) -->

<title>D3 Web App</title>

<!--  CSS   -->
<link rel="stylesheet" type="text/css" href="../css/main.css">

<!-- Fonts -->
<script src="https://use.typekit.net/tlr1ksi.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    
</head>


<div class="booking_wrapper">
	<div class="header">
		<div class="headerNav">
			<!-- can add elements here -->
		</div>
		<div class="headerInfor">
			<div class="signs">
				<div class="circle"></div>
				<div class="circle"></div>
				<div class="circle"></div>
			</div>
			<div class="title">
				<p>Select a room</p>
			</div>
		</div>
	</div>

	<form method="post" action="createBookingS2.html">
		<div class="select-rooms">

			<div class="room">
				<label for="room1">
				<div class="content">
					<div class="roomTag">CR</div>
					<div class="roomDetail">
			    		<p class="name">Class Room</p>
			    		<p class="capacity">Capacity: 5people so many words yes yes yes</p>
		    		</div>
		    		<div class="svg arrow">
	    			</div>
	    		</div>
	    		</label>
	    		<input type="radio" name="room" id="room1"></input>
			</div>

	    	<div class="room">
	    		<label for="room2">
	    		<div class="content">
	    			<div class="roomTag">WR</div>
	    			<div class="roomDetail">
		    			<p class="name">Window Room</p>
		    			<p class="capacity">Capacity: 20people</p>
	    			</div>
	    			<div class="svg arrow">
	    			</div>
	    		</div>
	    		</label>
	    		<input type="radio" name="room" id="room2"></input>

			</div>

	    	<div class="room">
	    		<label for="room3">
	    		<div class="content">
	    			<div class="roomTag">BM</div>
	    			<div class="roomDetail">
		    			<p class="name">By the maker space</p>
		    			<p class="capacity">Capacity: 8people</p>
	    			</div>
	    			<div class="svg arrow">
	    			</div>
	    		</div>
	    		</label>
	    		<input type="radio" name="room" id="room3"></input>
			</div>


		</div>

		<div class="next">
			<button id="nextButton" type="submit" class="room-btn">Next</button>
		</div>
	</form>
</div>


<script>
// add highlight background to selected radio input
$(document).ready(function(){
    $('input[type=radio]').change(function(){
        var $this = $(this);
        $this.closest('.select-rooms').find('div.highlight').removeClass('highlight');
        $this.closest('.room').addClass('highlight');
        // console.log($("input[type=radio]:checked"));
    });
});

</script>




