<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8">

<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="description" content="Accelerator and Community Management" />
<meta name="keywords" content="Accelerator, Community, Incubaotr, Management" />
<meta name="google-site-verification" content="" />
<!-- don't forget to set the site up: http://google.com/webmasters -->

<meta name="author" content="D3 Web App" />
<meta name="robots" content="all"/>
<meta name="distribution" content="global"/>
<meta name="resource-type" content="document"/>
<meta name="language" content="en-us"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="copyright" content="D3 Webapp Copyright 2016. All Rights Reserved.">

<link rel="shortcut icon" href="../img/d3logosite-01.png">
<link rel="apple-touch-icon" href="../img/d3logosite-01.png">
<!-- The is the icon for iOS's Web Clip.
         - size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for iPhone4's retina display (IMHO, just go ahead and use the biggest one)
         - To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
         - Transparency is not recommended (iOS will put a black BG behind the icon) -->

<title>D3 Web App</title>

<!--  CSS   -->
<link rel="stylesheet" type="text/css" href="../css/main.css">

<!-- Fonts -->
<script src="https://use.typekit.net/tlr1ksi.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    
</head>
<body>
<div id="o-wrapper" class="o-wrapper">

	<header class="o-header">
		<nav class="o-header-nav">
	        <div class="nav_menu">
	        	<svg id="c-button--slide-left" width="25" height="20" viewBox="0 0 25 20" xmlns="http://www.w3.org/2000/svg">
				    <title>
				        hamburger
				    </title>
				    <g fill="#202334" fill-rule="evenodd">
				        <path d="M0 1.343C.696 1.343 1.25.748 1.25 0h22.5c0 .748.554 1.343 1.25 1.343v1.15c-.696 0-1.25.596-1.25 1.345H1.25c0-.75-.554-1.344-1.25-1.344v-1.15zM0 9.018c.696 0 1.25-.595 1.25-1.343h22.5c0 .748.554 1.343 1.25 1.343v1.15c-.696 0-1.25.596-1.25 1.345H1.25c0-.75-.554-1.344-1.25-1.344V9.017zM0 16.693c.696 0 1.25-.595 1.25-1.343h22.5c0 .748.554 1.343 1.25 1.343v1.15c-.696 0-1.25.596-1.25 1.345H1.25c0-.75-.554-1.344-1.25-1.344v-1.15z"/></path>
				    </g>
				</svg>
	        </div>
	        <div class="nav_options">
	        	<svg id="searchNav" width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
				    <title>
				        Group 5
				    </title>
				    <g fill="#202334" fill-rule="evenodd">
				        <path d="M6.427 10.91c2.4 0 4.343-2.138 4.343-4.774S8.826 1.364 6.427 1.364c-2.398 0-4.342 2.136-4.342 4.772S4.03 10.91 6.427 10.91zm0 1.363c-3.083 0-5.583-2.748-5.583-6.137C.844 2.746 3.344 0 6.427 0 9.51 0 12.01 2.747 12.01 6.136c0 3.39-2.5 6.137-5.583 6.137z"/></path>
				        <path d="M10.288 9.394l4.032 4.43-.877.966-4.033-4.432.878-.964z"/></path>
				    </g>
				</svg>
				<div id="notification">
					<svg id="notificationIcon" width="12" height="15" viewBox="0 0 12 15" xmlns="http://www.w3.org/2000/svg">
					    <title>
					        Outline
					    </title>
					    <g transform="translate(.11)" fill="#202334" fill-rule="evenodd">
					        <path d="M2.196 5.938v4.687l-1.098-1.25H9.88l-1.097 1.25V5.937C8.783 4.043 7.428 2.5 5.76 2.5h-.54c-1.673 0-3.024 1.538-3.024 3.438zm-1.098 0c0-2.59 1.84-4.688 4.12-4.688h.54c2.277 0 4.123 2.104 4.123 4.688v4.687H1.1V5.937z"/></path>
					        <rect x="4.94" width="1.098" height="2.5" rx="27"/></rect>
					        <path d="M.976 12.428L0 11.855h1.098v.65c0-.35-.245-.63-.554-.63h9.89c-.308 0-.553.278-.553.63v-.59h1.1l-.99.54-1.074-2.538.99.708H1.12l.976-.678-1.122 2.48zM0 11.855l1.122-2.48h8.783l1.074 2.54v.59c0 .343-.25.62-.546.62H.544c-.3 0-.544-.282-.544-.62v-.65zm3.842 1.27C3.842 14.16 4.58 15 5.49 15c.91 0 1.646-.84 1.646-1.875H3.842z"/></path>
					    </g>
					</svg>
					<div id="notificationAlert">
					<!-- Diego notification Numebr goes here below -->
						<p>1</p>
					</div>
				</div>
				<svg id="powerNav" width="16" height="15" viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
				    <title>
				        Group 6
				    </title>
				    <g fill="#202334" fill-rule="evenodd">
				        <path d="M.058 7.852C.058 11.804 3.406 15 7.544 15s7.485-3.196 7.485-7.148c0-3.237-2.257-5.974-5.347-6.852v2.165c1.892.796 3.208 2.594 3.208 4.687 0 2.818-2.395 5.106-5.346 5.106-2.952 0-5.347-2.288-5.347-5.106 0-2.093 1.315-3.89 3.208-4.687V1C2.315 1.878.058 4.615.058 7.852z"/></path>
				        <path d="M6.475 1c0-.5.534-1 1.07-1 .534 0 1.068.5 1.068 1v6c0 .5-.534 1-1.07 1-.534 0-1.068-.5-1.068-1V1z"/></path>
				    </g>
				</svg>
	        </div>
    	    <div class="notification_menu">
		    	<div class="notification_header"><p>Notifications</p></div>
		    	<div class="notification_item">
		    		<img src="../img/temp/profile.jpg">
		    		<div class="notification_info">
			    		<!-- Diego Notification statement goes here below -->
			    		<p>Meeting with Alain in 1 hour</p>
			    		<!-- Diego Notification time since the notification was sent goes here below.  -->
			    		<p class="time_since">15 min ago</p>
		    		</div>
		    	</div>
		    	<div class="notification_item">
		    		<img src="../img/temp/profile.jpg">
		    		<div class="notification_info">
			    		<!-- Diego Notification statement goes here below -->
			    		<p>Meeting with Alain in 1 hour</p>
			    		<!-- Diego Notification time since the notification was sent goes here below.  -->
			    		<p class="time_since">15 min ago</p>
		    		</div>
		    	</div>
				<div class="see_all">
		    		<p>See All</p>
			    </div>
		    </div>
	    </nav>



	</header><!-- /o-header -->

	<main class="o-content">
	    <div class="o-container">
      		<div class="profile_wrapper">
      			<div class="compHedaer">
      				<img src="../img/temp/D3Logo.png">
      			</div>
      			<div class="indHeader">
      				<img src="../img/temp/profile.jpg">
      				<h2>Firstname Lastname</h2>
      			</div>
  			    <div class="profile_tabs">
			        <div class="tabs">
			            <div class="top_tab active"><a href="#info">Info</a></div>
			            <div class="top_tab"><a href="#experience">Experience</a></div>
			            <div class="top_tab"><a href="#social">Social</a></div>
			        </div>
			        <div class="tabInner">
			            <div class="tab" id="info">
			            	<div class="p-info">
			            		<h3>Biography</h3>
				                <p>This is my biography and this can be really exciting or it can be really really boring since poeple have different level of experience. Take Elon Musk for exmaple could be exciting. Take a dude who didn't do anything of their life, that coudl be very boring.</p>
			            	</div>
			            	<div class="p-info">
				                <h3>Startups Coached</h3>
				                <p>team 1</p><p>team 2</p>
			            	</div>
			            	<div class="p-info">
			            		<h3>Gender</h3>
			            		<p>male / female</p>
			            	</div>
			            	<div class="p-info">
			            		<h3>Birthday</h3>
			            		<p>1985 / 05 / 08</p>
			            	</div>
			            	<div class="p-info">
			            		<h3>Email</h3>
			            		<p>alain@d3center.ca</p>
			            	</div>
			            	<div class="p-info">
			            		<h3>Phone Number</h3>
			            		<p>514 690-4850</p>
			            	</div>
			            	<div class="p-info">
			            		<h3>Slack username</h3>
			            		<p>alainrv</p>
			            	</div>
			            	<div class="editOptions">
			            		<a href="#">Edit</a>
			            	</div>
			            </div>
			            <div class="tab" id="experience">
			                <div class="p-info degree">
			            		<h3>Degrees</h3>
			            		<p>Engineering in Computer Science, McGill University</p><p>MBA, Concordia Univeristy</p>
			            	</div>
			            	<div class="p-info">
			            		<h3>Currently learning</h3>
			            		<p>Rubby on rails</p>
			            	</div>
			            	<div class="p-info">
			            		<h3>Fields of expertise</h3>
			            		<div class="expertise_container">
			            			<i>HTML</i><i>Css</i><i>JavaScript</i><i>Jquery</i><i>Sass</i><i>Financing</i>
			            		</div>
			            	</div>
			            	<div class="editOptions">
			            		<a href="#">Edit</a>
			            	</div>
			            </div>
			            <div class="tab" id="social">
			                <div class="p-info facebook">
			                	<h3>Facebook</h3>
			                	<a href="#" target="_blank">www.facebook.com/alainrvaliquette</a>
		                	</div>
		                	<div class="p-info twitter">
			                	<h3>Twitter</h3>
			                	<a href="#" target="_blank">@alainrv</a>
		                	</div>
		                	<div class="p-info instagram">
			                	<h3>Instagram</h3>
			                	<a href="#" target="_blank">@nolykids</a>
		                	</div>
		                	<div class="p-info angel">
			                	<h3>Angel List</h3>
			                	<a href="#" target="_blank">@alainrv</a>
		                	</div>
		                	<div class="p-info linkedin">
			                	<h3>Linked In</h3>
			                	<a href="#" target="_blank">www.linkedin.com/in/alainrv</a>
			                </div>
			                <div class="editOptions">
			            		<a href="#">Edit</a>
			            	</div>
			            </div>
			        </div>
			    </div>
      			


      		</div>



















			
      





	    </div><!-- /o-container -->
	</main><!-- /o-content -->

	<footer class="o-footer">
		<div class="o-container">
			
	    </div>
	</footer><!-- /o-footer -->

</div><!-- /o-wrapper -->

<nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
	<button class="c-menu__close">
		<svg width="25" height="20" viewBox="0 0 25 20" xmlns="http://www.w3.org/2000/svg">
		    <title>
		        Hamburger White
		    </title>
		    <g fill="#FFF" fill-rule="evenodd">
		        <path d="M0 1.342C.696 1.342 1.25.747 1.25 0h22.5c0 .748.554 1.342 1.25 1.342v1.15c-.696 0-1.25.594-1.25 1.34H1.25c0-.746-.554-1.34-1.25-1.34v-1.15zM0 8.842c.696 0 1.25-.595 1.25-1.342h22.5c0 .748.554 1.342 1.25 1.342v1.15c-.696 0-1.25.594-1.25 1.34H1.25c0-.746-.554-1.34-1.25-1.34v-1.15zM1.25 15.833h22.5c0 .748.554 1.342 1.25 1.342v1.15c-.696 0-1.25.594-1.25 1.342H1.25c0-.748-.554-1.342-1.25-1.342v-1.15c.696 0 1.25-.594 1.25-1.342z"/></path>
		    </g>
		</svg>
	</button>
	<ul class="c-menu__items">
		<div class="profile_info">
			<img src="../img/temp/profile.jpg">
			<div class="c-menu__item user"><a href="/views/profile.html"><h3>FirstName lastName</h3></a></div>
		</div>
		<div class="menu_nav">
		    <li class="c-menu__item meeting"><a href="#" class="c-menu__link">My Meetings</a></li>
		    <li class="c-menu__item rooms"><a href="#" class="c-menu__link">My Room Bookings</a></li>
		    <li class="c-menu__item room"><a href="#" class="c-menu__link">Class Room</a></li>
		    <li class="c-menu__item room"><a href="#" class="c-menu__link">by Maker Space</a></li>
		    <li class="c-menu__item room"><a href="#" class="c-menu__link">Window Room</a></li>
		    <li class="c-menu__item availabilities"><a href="#" class="c-menu__link">Room Availabilities</a></li>
		    <li class="c-menu__item search"><a href="#" class="c-menu__link">Advanced Search</a></li>
		    <li class="c-menu__item"><a href="#" class="c-menu__link">Create Startup</a></li>
	    </div>
	    <div class="menu_room">
		    <li class="c-menu__item room_status available"><a href="#" class="c-menu__link">Class Room</a></li>
		    <li class="c-menu__item room_status occupied"><a href="#" class="c-menu__link">by Maker Space</a></li>
		    <li class="c-menu__item room_status occupied"><a href="#" class="c-menu__link">Window Room</a></li>
	    </div>
	</ul>
</nav><!-- /c-menu slide-left -->


<div id="c-mask" class="c-mask"></div>




<!-- menus script -->
<script src="../js/menu.min.js"></script>
<script type="text/javascript">
  /**
   * Slide left instantiation and action.
   */
  var slideLeft = new Menu({
    wrapper: '#o-wrapper',
    type: 'slide-left',
    menuOpenerClass: '.c-button',
    maskId: '#c-mask'
  });

  var slideLeftBtn = document.querySelector('#c-button--slide-left');
  
  slideLeftBtn.addEventListener('click', function(e) {
    e.preventDefault;
    slideLeft.open();
  });

// click handler of the notificaiotn item
$("#notification").click(function() {
	// open close the nav
	$(".notification_menu").toggleClass("notification_menu--active");
});
</script>


<!-- Profile Script -->
<script type="text/javascript">
//Allows for the tabs to switch on the user profile
$(".top_tab").click(function() {
	//remove the active state of the preselected tab
	$(".top_tab").removeClass("active");
	//add the active state to the newly selected tab
	$(this).addClass("active");
});

</script>



</body>
</html>




