<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8">

<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="description" content="Accelerator and Community Management" />
<meta name="keywords" content="Accelerator, Community, Incubator, Management" />
<meta name="google-site-verification" content="" />
<!-- don't forget to set the site up: http://google.com/webmasters -->

<meta name="author" content="D3 Web App" />
<meta name="robots" content="all"/>
<meta name="distribution" content="global"/>
<meta name="resource-type" content="document"/>
<meta name="language" content="en-us"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="copyright" content="D3 Webapp Copyright 2016. All Rights Reserved.">

  <meta name="viewport" content="width=1024">
  <meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="shortcut icon" href="../img/d3logosite-01.png">
<link rel="apple-touch-icon" href="../img/d3logosite-01.png">
<!-- The is the icon for iOS's Web Clip.
         - size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for iPhone4's retina display (IMHO, just go ahead and use the biggest one)
         - To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
         - Transparency is not recommended (iOS will put a black BG behind the icon) -->

<title>D3 Web App</title>

<!--  CSS   -->
<link rel="stylesheet" type="text/css" href="../css/main.css">

<!-- Fonts -->
<script src="https://use.typekit.net/tlr1ksi.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    
</head>

<body>
<div class="booking_wrapper">
	<div class="header">
		<div class="headerNav">
			<!-- can add elements in it -->
		</div>
		<div class="headerPicture">
			<img src="../img/svg/profilePicture.svg">
		</div>
	</div>

	<div class="bookingBoard">
		<div class="tabs">
			<div class="tab">
				<label href="">All 10</label>
				<div class="verticalLine"></div>
				<label href="">Upcoming 6</label>
				<div class="verticalLine"></div>
				<label href="">History 4</label>
			</div>
			<button class="booking-btn" onclick="createBooking(this)">+ Create</button>
		</div>
		<div class="sectionHead">
				<p>UPCOMING</p>
				<button class="booking-btn" onclick="createBooking(this)">+ Create</button>
		</div>


		<div class="upcomingBox">

			<!-- new room booking 1 -->
			<div class="booking new">
				<div class="booking-detail">
					<div class="name">Maker Space Room</div>
					<div class="schedule">time schedule set up</div>
					<div class="owner">owner is whom</div>

					<div class="capacity">8 people</div>
					<div class="time">
						<div class="svg meetingClock"></div>
						<div class="duration">45 min</div>
					</div>
					<div class="equipments">
						<div>Equipment</div>
						<div>Equipment</div>
						<div>Equipment</div>
					</div>
				</div>
				<div class="booking-edit">
					<a class="edit" href="">Edit</a>
					<div class="verticalLine"></div>
					<a class="cancel" href="">Cancel</a>
				</div>
			</div>

			<!-- new room booking 2 -->
			<div class="booking new">
				<div class="booking-detail">
					<div class="name">Maker Space Room</div>
					<div class="schedule">time schedule set up</div>
					<div class="owner">owner is whom</div>

					<div class="capacity">8 people</div>
					<div class="time">
						<div class="svg meetingClock"></div>
						<div class="duration">45 min</div>
					</div>
					<div class="equipments">
						<div>Equipment</div>
						<div>Equipment</div>
						<div>Equipment</div>
						<div>Equipment</div>
						<div>Equipment</div>
						<div>Equipment</div>
					</div>
				</div>
				<div class="booking-edit">
					<!-- The line in the middle here should not be part of the second a, we do not want someone to cancel a meeting by pressing the line by mistake. The line is in between creting a space that allow for different intention for fingers on touch base devices -->
					<a class="edit" href="">Edit</a>
					<div class="verticalLine"></div>
					<a class="cancel" href="">Cancel</a>
				</div>
			</div>

		</div>

		<div class="sectionHead">
			<p>HISTORY</p>
		</div>

		<div class="historyBox">

			<!-- old room booking 1 -->
			<div class="booking old">
				<div class="booking-detail">
					<div class="name">Maker Space Room</div>
					<div class="schedule">time schedule set up</div>
					<div class="owner">owner is whom</div>

					<div class="capacity">8 people</div>
					<div class="time">
						<div class="svg meetingClock"></div>
						<div class="duration">45 people</div>
					</div>
					<div class="equipments">
						<div>Equipment</div>
						<div>Equipment</div>
						<div>Equipment</div>
					</div>
				</div>
			</div>

			<!-- old room booking 1 -->
			<div class="booking old">
				<div class="booking-detail">
					<div class="name">Maker Space Room</div>
					<div class="schedule">time schedule set up</div>
					<div class="owner">owner is whom</div>

					<div class="capacity">8 people</div>
					<div class="time">
						<div class="svg meetingClock"></div>
						<div class="duration">45 people</div>
					</div>
					<div class="equipments">
						<div>Equipment</div>
						<div>Equipment</div>
						<div>Equipment</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>



<script type="text/javascript">
    function createBooking(){
    	location.href = "createBookingS1.html";
    }
    function changeActive(){
    	
    }
// Why does this via javascript versus doing versus a simply href function?
// You can simply wrap the button 
</script>



</body>