<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8">

<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="description" content="Accelerator and Community Management" />
<meta name="keywords" content="Accelerator, Community, Incubator, Management" />
<meta name="google-site-verification" content="" />
<!-- don't forget to set the site up: http://google.com/webmasters -->

<meta name="author" content="D3 Web App" />
<meta name="robots" content="all"/>
<meta name="distribution" content="global"/>
<meta name="resource-type" content="document"/>
<meta name="language" content="en-us"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="copyright" content="D3 Webapp Copyright 2016. All Rights Reserved.">

  <meta name="viewport" content="width=1024">
  <meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="shortcut icon" href="../img/d3logosite-01.png">
<link rel="apple-touch-icon" href="../img/d3logosite-01.png">
<!-- The is the icon for iOS's Web Clip.
         - size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for iPhone4's retina display (IMHO, just go ahead and use the biggest one)
         - To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
         - Transparency is not recommended (iOS will put a black BG behind the icon) -->

<title>D3 Web App</title>

<!--  CSS   -->
<link rel="stylesheet" type="text/css" href="../css/main.css">

<!-- Fonts -->
<script src="https://use.typekit.net/tlr1ksi.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    
</head>

<body>

<div class="booking_wrapper">
	<div class="bookingTabs">
		<div class="tab upcoming onSelect">UPCOMING</div><div class="tab history">HISTORY</div>
		<div class="selectBorder"></div>
	</div>


	<div class="upcomingBox">
		<!-- new room booking 1 -->
		<div class="booking new">
			<div class="bookingTitle">
				<p>Maker Space Room</p>
			</div>
			<div class="bookingInfor">
				<div class="bookingDate">Monday April 18 2016</div>
	
				<div class="bookingTime">7pm</div>
				<div class="svg bookingClock"></div>
				<div class="bookingDuration">45 min</div>
				
		
				<div class="bookingEdit">
					<a class="edit" href="">Edit</a>
					<a class="cancel" href="">Cancel</a>
					<div class="svg toggleSign"></div>
				</div>
				<div class="toggleContent">
					<p>Room can fit up to 8 people sitting and can accomodate around 15 people standing.</p>
					<p class="equipment">This room is accomdated with</p>
					<ul>
						<li>projector with HDMI cable</li>
						<li>1 white board</li>
						<li>1 podium</li>
						<li>a sound system</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- new room booking 2 -->
		<div class="booking new">
			<div class="bookingTitle">
				<p>Maker Space Room</p>
			</div>
			<div class="bookingInfor">
				<div class="bookingDate">Monday April 18 2016</div>
	
				<div class="bookingTime">7pm</div>
				<div class="svg bookingClock"></div>
				<div class="bookingDuration">45 min</div>
				
		
				<div class="bookingEdit">
					<a class="edit" href="">Edit</a>
					<a class="cancel" href="">Cancel</a>
					<div class="svg toggleSign"></div>
				</div>
				<div class="toggleContent">
					<p>Room can fit up to 8 people sitting and can accomodate around 15 people standing.</p>
					<p class="equipment">This room is accomdated with</p>
					<ul>
						<li>projector with HDMI cable</li>
						<li>1 white board</li>
						<li>1 podium</li>
						<li>a sound system</li>
					</ul>
				</div>
			</div>
		</div>

	</div>


	<div class="historyBox">

		<!-- old room booking 1 -->
		<div class="booking old">
			<div class="bookingTitle">
				<p>Class room</p>
			</div>
			<div class="bookingInfor">
				<div class="bookingDate">Monday April 18 2016</div>
	
				<div class="bookingTime">7pm</div>
				<div class="svg bookingClock"></div>
				<div class="bookingDuration">45 min</div>
				
		
				<div class="bookingEdit">
					<a class="edit" href="">Edit</a>
					<a class="cancel" href="">Cancel</a>
					<div class="svg toggleSign"></div>
				</div>
				<div class="toggleContent">
					<p>Room can fit up to 8 people sitting and can accomodate around 15 people standing.</p>
					<p class="equipment">This room is accomdated with</p>
					<ul>
						<li>projector with HDMI cable</li>
						<li>1 white board</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- old room booking 2 -->
		<div class="booking new">
			<div class="bookingTitle">
				<p>Class room</p>
			</div>
			<div class="bookingInfor">
				<div class="bookingDate">Monday April 18 2016</div>
	
				<div class="bookingTime">7pm</div>
				<div class="svg bookingClock"></div>
				<div class="bookingDuration">45 min</div>
				
		
				<div class="bookingEdit">
					<a class="edit" href="">Edit</a>
					<a class="cancel" href="">Cancel</a>
					<div class="svg toggleSign"></div>
				</div>
				<div class="toggleContent">
					<p>Room can fit up to 8 people sitting and can accomodate around 15 people standing.</p>
					<p class="equipment">This room is accomdated with</p>
					<ul>
						<li>projector with HDMI cable</li>
						<li>1 white board</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<a href="createMeetingStep1.html">
	<button class="booking-btn">
		<div class="horizontalLine"></div>
		<div class="verticalLine"></div>
	</button>
	</a>
</div>



<script type="text/javascript">
	// function to change the booking tabs and booking displays 
	// when click on tabs
	$(".tab").click(function(){
		// remove onSelect class from another tab
		$('.onSelect').removeClass("onSelect");
		// add onSelect class to the clicked tab
    	$(this).addClass('onSelect');
    	// change the bottom border position
    	// assign bot border to a variable botBor
    	var $botBor = $(this).closest('.bookingTabs').find('.selectBorder');

    	// assign each booking box to a variable
    	var $upcoming = $(this).closest('.booking_wrapper').find('.upcomingBox');
    	var $history = $(this).closest('.booking_wrapper').find('.historyBox');
    	
    	// if the clicked tab is at left, move the botBor to left, 
    	// and show upcoming box
    	// if not move to right, and show history box
    	if($(this).hasClass("upcoming")){
    		$botBor.css("left",'0%');
    		$history.css("display","none");
    		$upcoming.css('display','block');

    	} else {
    		$botBor.css("left", "50%");
    		$upcoming.css("display","none");
    		$history.css('display','block');
    	};
	});


	$(".toggleSign").click(function (){
		// assign booking content to a variable
		$content = $(this).closest(".bookingInfor").find('.toggleContent');
		// if content is hiddent, show up arrow. If not show down arrwo
	    if($content.css("display")=="none"){
	    	$(this).css("background-position","0 -860px");
	    } 
	    else{
    		$(this).css("background-position","0 -840px");
	    }
	    // toggle the content on click
	    $content.slideToggle(500)
	});
</script>



</body>
</html>