.stepHeader {
	margin: 5vh auto; 
	width: 50%;
	text-align: center;
	@include display(flex);
	@include justify-content(space-around);
	.circle{
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background-color: #202334;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.33);

	}
}