
.headerInfor {
	margin: 7vh auto; 
	// width: 50%;
	width: 100%;
	text-align: center;
	.signs{
		margin: auto;
		width: 35%;
		@include display(flex);
		@include justify-content(space-around);
		.circle {
			height: 20px;
			width: 20px;
			border-radius: 50%;
			background-color: $light;
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.33);
			&:first-child{
				background-color: $dark;
			}
		}
	}
	.title p{
		margin: 3vh auto;
		font-family: ".HelveticaNeueDeskInterface-Regular";
		font-size: 14px;
		letter-spacing: 1.3px;
		color: $writting;
	}
}

.select-rooms{

	input[type="radio"]{
		position: absolute;
		top: 15px;
	    visibility:hidden;
	}

	.highlight{
		background-color:#fff2dd;
	}

	.room {
		position: relative;
		list-style-type: none;
		height: 50px;
		width: 100%;
		
		&:first-child .content{
			border-top: 1px solid #ddd;
		}
	}

	.content {
		margin: auto auto;
    	width: 90%;
    	height: 100%;
    	border-bottom: 1px solid #ddd;
		@include display(flex);
		.roomTag {
			margin: auto 0;
			width: 30px;
			line-height: 30px; 
			background-color: $dark;
			font-family: ".HelveticaNeueDeskInterface-Regular";
			font-size: 0.9em;
			color: $white;
			text-align: center;
			vertical-align: middle;
	    }
	    .roomDetail{
	    	margin: auto 10px;
	    	line-height: 85%;
		    p {
		    	font-family: '.HelveticaNeueDeskInterface-Bold';
				color: $writting;
				&.name{
					font-size: 0.7em;
				}
				&.capacity{
					font-size: 0.6em;
					color: lighten($writting,20%);
				}
		    }
		}
		.arrow {	
			margin: auto auto;
			margin-right: 0;
			width: 9px;
			height: 12px;
			background-position: 0 -788px;
		}
	}
}



.next {
	text-align: center;
	margin: 10vh auto;

	button{
		font-family: 'Avenir-Roman';
		letter-spacing: 1.7px;
		box-shadow: 0 2px 4px 0 #b4b4b4;
	}
}