$dark : #202334;
$light : #9b9b9b;
.createMeeting_wrapper {
/* 	max-width: 420px; */
	margin: auto auto;
	@media (min-width: 400px) {
		max-width: 765px;
	}
	@media (min-width: 770px) {
		max-width: 1270px;
	}
}
.centerTime{
	margin:auto auto;	
	select {
		letter-spacing: 1.7px;
		padding: 4px;
		font-size: 16px;
		width: 95px;
		height: 235px;
		font-weight: normal;
  		line-height: 1.88;
  		text-align: center;
	}
}

.input_form_create_meeting {	
	
 	 height: 332px;
	background-color: #ffffff;
	border: solid 0.5px #979797;
	border-radius: 8px;	
	width: 80%;
	margin: 2vh auto;
	&:hover
 	 {
		border: 1px solid #555c82;
	}
	@media (min-width: 400px) {
		max-width: 765px;
		height: 770px;
		margin: 2vh auto;
	}
	input {
	  font-size: 1em;
	  font-family: sans-serif;
	  font-weight: 200;
	  border: 1px solid #999;
	  padding: .75em 1em;
	  margin: 0vh 8vh;
	  box-sizing: border-box;
	  width: 70%;
		  &:hover
	 		 {
			border: 1px solid #555c82;
			}
		@media (min-width: 400px) {
		  margin: 0vh 4vh;		
		  width: 87%;
		}
	}	
	div {
			display: block;	
			&:hover
		 	 {
				border: 1px solid #555c82;
			}
			&.personCreate {
				position: relative;
				top: 30px;
				left: 7px;			
				width: 15px;
				height: 17px;
				background-position: 0 -800px;
			}
			&.emailCreate {
				position: relative;
				top: -30px;
				left: 72vw;
				width: 19px;
				height: 20px;
				background-position: 0 -820px;
				
			}			
		}

}
.nxt-btn {
	@include btn($accountButtonColor, 40px, 240px);
	background: #555c82;
	color: white;
	text-transform: uppercase;
	font-size: 0.9em;
	width: 228px;
 	height: 47px;
 	 &:hover
 	 {
		border: 1px solid #555c82;
	}
}

.headerCreateMeeting {
	margin: 5vh auto 0vh; 
	width: 58%;
	text-align: center;
	.signsCreateMeeting{
		margin-left: 11vh;
		width: 50%;
		@include display(flex);
		@include justify-content(space-around);
		.circle {
			height: 20px;
			width: 20px;
			border-radius: 50%;
			background-color: $light;
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.33);
			&:nth-child(2){
				background-color: $dark;
			}
		}
		
	}
	.title p{
		margin-top: 3vh;
		font-family: ".HelveticaNeueDeskInterface-Regular";
		font-size: 14px;
		letter-spacing: 1.3px;
		color: #4a4a4a;
		@media (min-width: 400px) {
		  margin-top: 2vh;	
		  font-size: 18px;
			}
		}
		
}
