.roomHeaderCreateMeeting {
	@extend .roomHeader;
}
.createInput {
	width: 100%;
	padding: 0px 4vw;
	
	.input {
		width: 100%;
		position: relative;
		margin-bottom: 10px;

		@media (min-width: 370px) {
			margin-bottom: 12px;
		}

		@media (min-width: 430px) {
			margin-bottom: 18px;
		}
		textarea{
			margin-left: 9.5vw;
			margin-top: 2vh;
			border: solid 0.9px #F5F5F5;
			&:hover {
				border: solid 0.9px skyblue;
			}
			@media (min-width: 370px) {
				margin-left: 19vw;
			}
			@media (min-width: 450px) {
				margin-left: 31vw;
			}
			@media only screen and (min-width: 1025px) {
				margin-left: 37vw;
			}
		}
		select{
			margin-left: 9.5vw;
			margin-top: 3vh;
			font-size: 19px;
			letter-spacing: 1.7px;
			width: 265px;
			height: 40px;
			border: solid 0.9px #F5F5F5;
			@media (min-width: 370px) {
				margin-left: 19vw;
			}
			@media (min-width: 450px) {
				margin-left: 31vw;
			}
			@media only screen and (min-width: 1025px) {
				margin-left: 37vw;
			}
			option{
			width: 265px;
			font-size: 19px;
			letter-spacing: 1.7px;
			text-align: center;
			color: #9b9b9b;
			line-height: 40px;
			padding-left: 20px;
			}
		}		
		input {
			display: block;
			margin: auto auto;
			width: 290px;
			margin-top: 3vh;
			height: 40px;
			border: none;
			border-bottom: 1px solid #F5F5F5;
			font-size: 1em;
			color: $writting;
			border-radius: 2px;
			padding-left: 30px;
			@media (max-width: 320px){
				margin-left: 0;
			}
			&:active,
			&:focus , &:hover{
				border-bottom: solid 0.9px skyblue;
			}
		}
		placeholder{
			color: black;
			}
		// change "img" to "div" to avoid the grey border when img has no src in it!
		div {
			position: absolute;
			top: 10px;
			left: 1vw;
			@media (min-width: 370px) {
				left: 12vw;
			}
			@media (min-width: 450px) {
				margin-left: 15vw;
			}
			@media (min-width: 769px) {
          		margin-left: 20vw; } 
      		@media only screen and (min-width : 1025px) {
          		margin-left: 22.75vw; } 
			&.meetingPlace {
				width: 18px;
				height: 19px;
				background-position: 0 -960px;
			}
			&.alarmClock {
				width: 15px;
				height: 15px;
				background-position: 0 -883px;
				margin-top: 1vh; 
			}
			&.clock {
				width: 18px;
				height: 19px;
				background-position: 0 -900px;
			}
			&.location {
				width: 18px;
				height: 19px;
				background-position: 0 -940px;
			}
			&.notes {
				width: 18px;
				height: 19px;
				background-position: 0 -920px;
			}
		}
	}
}

.notesLabel{
	display: block;
	margin-left: 9.5vw;
	padding-top: 2.5vh;
	color: #4a4a4a;	
	@media (min-width: 370px) {
			margin-left: 19vw;
			padding-top: 2.5vh;
	}
	@media (min-width: 450px) {
			margin-left: 31vw;
			padding-top: 2vh;
	}
	@media only screen and (min-width : 1025px){
      margin-left: 37vw;
      padding-top: 2vh; }
}
.invitationValidity{
	height: 159px;
	background-color: #ffffff;	
	width: 87%;
	margin: 2vh 7vh;
	margin-bottom: 25px;
	text-align: center;	
 	border: solid 0.9px #ffffff;
 	&:hover {
		border: solid 0.9px skyblue;
	}
 	
}
