$dark : #202334;
$light : #9b9b9b;
.createMeeting_wrapper {
/* 	max-width: 420px; */
	margin: auto auto;
	@media (min-width: 400px) {
		max-width: 765px;
	}
	@media (min-width: 770px) {
		max-width: 1270px;
	}
}
.centerTime{
	margin:auto auto;	
	border: none;
	height: 70%;
	overflow: scroll;
	input{
		visibility:hidden;
	}
	label{
	padding-left: 20px;
	}
}

.input_form_create_meeting {	
	
	height: 332px;
	background-color: #ffffff;
	border: solid 0.5px #979797;
	 border-radius: 2px;
	width: 80%;
	margin: auto auto;
	text-align: center;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
	
	&:hover{
		border: 1px solid #555c82;
	}
	@media (min-width: 400px) {
		max-width: 765px;
		height: 770px;
		margin: 2vh auto;
	}

	.calender_create_meeting{
		position: relative;
		display: block;	
		margin: 10px auto;
		input {
			font-size: 1em;
			font-family: sans-serif;
			font-weight: 200;
			border: 1px solid #999;
			padding: .75em 1em;
			width: 70%;
			&:hover{
			border: 1px solid #555c82;
			}
		}	
		:hover
	 	 {
			border: 1px solid #555c82;
		}
		.chevronLeft {
			position: absolute;
			top: 15px;
			left: 7px;			
			width: 15px;
			height: 17px;
			background-position: 0 -800px;
		}
		.chevronRight {
			position: absolute;
			top: 15px;
			right: 7px;
			width: 19px;
			height: 20px;
			background-position: 0 -820px;
			
		}			
	}

}
.activeForCalender{
    background-color: #ffa726;
}
