
.forgetPass_wrapper {
	max-width: 800px;
	margin: auto auto;
	.pic_container,
	.form_container {
		width: 100%;
		margin: auto auto;
	}
}

.forgetPass_pic{
	width: 100%;
	.forgetPass_image {
		max-width: 35%;
		min-width: 160px;
		display: block;
		margin: 5vh auto;
	}
}

.forgetPass_tabs {
	.text p {
		max-width: 40%;
		min-width: 270px;
		margin: auto;
		line-height: 120%;
		font-family: Avenir-Book;
		font-size: 14px;
		letter-spacing: 0.7px;
		text-align: center;
		color: #4a4a4a;
	}

	::-webkit-input-placeholder {
		font-size: 14px;
	   	color: #1d1d26;
	   	font-family: Avenir-Book;
	}

	form {
		max-width: 50%;
		min-width: 240px;
		display:block;
		margin: auto;
		margin-top: 5vh;
		box-shadow: 0px 3px 6px 2px #4a4a4a;
		position: relative;

		img {
			position: absolute;
			top: 13px;
			left: 15px;
		}

		input{
			height: 40px;
			width: 100%;
			font-size: 14px;
		   	color: #1d1d26;
		   	font-family: Avenir-Book;
			&.email {
				text-indent: 45px;
			}
			&.submit {
				border: none;
		    	height: 40px;
		    	width: 100%;
		    	background: #4a4a4a;
		    	color: #ffffff;
		    	font-size: 14px;
		    	font-family: Avenir-Roman;
		    	&:active {
		    		background: white;
		    		color: black;
		    	}
			}
		}		
	}
}