.invitation_wrapper{
	width: 100%;
	margin: auto auto;

}

.invitationDetails{
	margin: auto 20px;
	margin-top: 128px;
	position: relative;
	@media(min-width: 768px) {
		margin-top: 139px;
	}
	@media(min-width: 1024px) {
		margin-top: 189px;
	}
}

.invSchedule,
.invDescription{
	padding: 0 15px;
	border-radius: 8px;
	background-color: #ffffff;
	border: solid 0.5px #979797;
	overflow: auto;

	@media (min-width : 414px) {
		width: 354px;
		margin: auto auto;
	}

	@media (min-width : 768px) {
		width: 437px;
		margin: auto auto;
	}
}
.invDescription{
	text-align: center;
	b{
	    font-weight: bold;
	}
}


.invTopic{
	font-family: 'Avenir-Roman';
	font-size: 12px;
	letter-spacing: 1.3px;
	line-height: 130%;
	text-align: center;
	color: #4a4a4a;
	margin-top: 27px;
	@media (min-width : 414px){
		height: 30px;
		padding: 0 4vh;
	}
	@media (min-width : 768px){
		height: 40px;
		padding: 0 5vh;
		font-size: 14px;
    	letter-spacing: 1.5px;
    	margin-top: 42px;
	}
}

.invTime{
	margin: 7px auto 3vh auto;
	@media (min-width: 769px){		
		margin-bottom: 5vh;		
	}
	@include display(inline-flex);
	div{
		margin: auto 2px;
		line-height: 15px;
		vertical-align: middle;
		font-family: 'Avenir-Book';
		font-size: 12px;
		letter-spacing: 1.1px;
		color: #4a4a4a;
		@media(min-width : 768px){		
			font-size: 14px;		
			letter-spacing: 1.3px;		
		}
	}
}

.invSchedule{
	margin-top: 20px;
	height : 254px;
	padding-left: 4vw;
	@media (max-width : 425px){
	height : 227px;
	}
	@media (max-width : 321px){
	margin-top: 10px;
	height : 190px;
	}
	@media (min-width: 768px){		
		padding-left: 2.5vw;		
	}
}



.pick_time{
	font-family: 'Avenir-Roman';
	font-size: 12px;
	letter-spacing: 1.3px;
	line-height: 130%;
	text-align: center;
	color: #4a4a4a;
	padding: 15px 0;
	width:100%;
	border-bottom: solid 0.5px #c7c7c7;
	@media (min-width : 768px){
		font-size: 14px;
    	letter-spacing: 1.3px;
    	padding: 18px 0;
	}
}

.scheduleDetails{
	position: relative;
	margin: 15px auto;
	padding: 15px 10px;
	padding-left: 15px;
	border-left: solid 0.5px #c7c7c7;
	@media(max-width : 413px) {		
		margin: 10px auto;		
	}
	div {
		font-family: 'Avenir-LightOblique';
		font-size: 12px;
		letter-spacing: 1.1px;
		color: #4a4a4a;
	}
	.scheduleDate{
		margin-bottom: 10px;
		@media(max-width : 413px) {		
			margin-bottom: 25px;		
		}
	}
}

.invMark{
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #ffffff;
	border: solid 3px #fca20e;
	position: absolute;
	left: -7px;
	top: 14px;
	display: inline-block;
}

.scheduleSelection{
	@include display(flex);
	@include justify-content(space-between);
	margin-top: 5px;
	margin-bottom: 10px;
	position: relative;
	@media (min-width:768px){
		padding-right: 5vw;
	}


	div{
		height: 40px;
		width: 50px;
		border-radius: 8px;
		border: solid 0.5px #c7c7c7;
		font-family: Avenir-Black;
		font-size: 10px;
		letter-spacing: 0.9px;
		line-height: 120%;
		text-align: center;
		color: #4a4a4a;
		text-align: center;
		padding: 8px 0;
		@media (min-width:414px){
			width: 60px;
			height: 48px;
			margin-top: 15px;
			font-size: 12px;
    		letter-spacing: 1.1px;
		}
		@media (min-width:768px){
			width: 76px;
			height: 61px;
			margin-top: 35px;
			font-size: 14px;
    		letter-spacing: 1.4px;
    		padding: 12px 8px;
		}
	}
	input[type="radio"]{
		position: absolute;
		visibility: hidden;
	}
}

.invActive{
	background-color: #fff2dd;
}


.respondMessage{
	margin: 15px auto;
	@media (min-width: 320px){
		//width: 85%;
		width:280px
	}
	@media (min-width: 768px){
		width: 372px;
		margin-top: 20px;
	}
	@include display(flex);
	@include justify-content(space-between);
	.messageText{
		font-family: 'Avenir-Light';
		font-size: 9px;
		letter-spacing: 0.8px;
		line-height: 120%;
		color: #4a4a4a;
		@media (min-width: 768px){
		font-size: 12px;
    	letter-spacing:1.1px;
	}
	}
	.respondTime{
		width: 22px;
		height: 22px;
		background-position: 0 -860px;
	}
}

.invProfilePic{
	width: 100%;
	position: absolute;
	text-align: center;
	top: -95px;
	.profilePic2,
	.profilePic1{
		margin:auto auto;
		vertical-align: middle;
		border-radius: 50%;
		background-color: white;
		width: 112px;
		height: auto;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
		&.profilePic1{
			width: 100px;
			position: relative;
			left: 20px;
		}
	}
}





