.profile_wrapper {
	width: 100%;
	max-width: 800px;
	margin: auto auto;
	margin-top: 30px;
	box-shadow: rgba(0,0,0,0.3) 0px 2px 5px 1px;
}

.compHeader {
	width: 100%;
	height: 260px;
	@include display(flex);
	@include justify-content(center);
	@include align-content(center);
	border: none;
	position: relative;
	background: white;


	img {
		margin: auto auto;
		max-width: 95%;
		max-height: 92%;
	}

	a {
		position: absolute;
		text-decoration: underline;
		font-size: 0.8em;
		font-weight: 600;
		color: $dark_background;
		bottom: 20px;
		right: 20px;
	}

	button {
		@include btn($d3Orange, 50px, 150px);
		color: white;
		font-size: 1em;
		position: absolute;
		bottom: 20px; 
		right: 20px;
	}

	&--editing {

		.editMode {
			width: 100%;
			@include display(flex);
			@include justify-content(center);

			form {
				margin-top: auto;
				margin-bottom: auto;
			}
		}

		img {
			display: none;
		}
	}
}


.indHeader { 
	width: 100%;
	height: 120px;
	background-color: $dark_background;
	text-align: center;
	position: relative;
	padding-top: 85px;
	@include transition(font-weight 0.3s);

	&--editing {
		padding-top: 0;
	}

	&:hover > a {
		@include animation-name(scale);
		@include animation-duration(2s);
		@include animation-timing-function(ease);
		@include animation-iteration-count(infinite);
		font-weight: 800;
	}

	@include keyframes(scale) {
		0% {
			@include transform(scale(1));
		}
		50% {
			@include transform(scale(1.5));
		}
		100% {
			@include transform(scale(1));
		}
	}

	img {
		width: $profilePictureSize;
		height: $profilePictureSize;
		border-radius: 50%;
		position: absolute;
		top: -70px;
		left: calc(50% - 75px);
		border: 0.5px solid white; 
	}

	h2 {
		color: white;
		font-weight: 500;
		font-size: 1.2em;

		span {
			color: inherit;
			font-weight: inherit;
		}
	}

	a {
		position: absolute;
		bottom: 10px;
		right: 15px;
		text-decoration: underline;
		font-size: 0.8em;
		font-weight: 600;
		color: white;

		&:hover {
			opacity: 0.6;
		}
	}

	form {
		max-width: 300px;
		margin: auto auto;
		padding-top: 10px;
		text-align: left;

		label {
			font-size: 0.8em;
			margin-bottom: 5px;
		}

		input {
			margin-bottom: 5px;
			width: 100%;
		}
	}
}

.startupHeader {
	width: 100%;
	height: 60px;
	background-color: $dark_background;
	text-align: center;
	padding-top: 10px;

	h2 {
		color: white;
		font-weight: 500;
		font-size: 1.2em;
		margin-bottom: 6px;
	}

	a {
		color: white;
		font-size: 1em;
	}

	input:first-child {
		margin-bottom: 5px;
	}

	&--editing {
		height: auto;

		.editMode {
			display: block;
		}

		.editContainer {
			width: 100%;
			padding: 20px;
		}
	}
}


.profile_tabs {

	.tabs {
		@include display(flex);
	}

    .top_tab {
	    background: $dark_background;
	    border-top: 0.5px white solid;
	    border-right: 0.5px white solid;
	    @include flex-grow(1);
	    transition: background 0.3s;
	    cursor: pointer;

	    &:last-child {
	    	border-right: none;
	    }

	    a {
	    	width: 100%;
	    	color: white;
	    	text-align: center;
	    	display: block;
		    padding: 16px 0px;
		    text-transform: uppercase;
		    font-weight: 500;
		    transition: color 0.3s;
	    }
	}

	div.active {
	    background: white;

	    a {
	    	color: $dark_background;
	    }

	    // &:first-child {
	    // 	border-left: 1px solid $greyBorder;
	    // }

	    // &:last-child {
	    // 	border-right: 1px solid $greyBorder;
	    // }
	}
}


.tabInner {
    clear: both;
	border: none;
	@include display(flex);
	overflow-x: hidden;


    .tab {
	    padding: 10px;
	    min-width: 100%;
	    margin-right: 10px;
	    background: white;
	    @include display(flex);
	    @include flex-direction(column);

	    @media all and (min-width:$medium_size_breakpoint) {
	    	padding: 10px 20px;
	    }
	}
}

div[class^="team__"] {
	h2 {
		font-weight: 500;
		margin-top: 15px;
		margin-bottom: 10px;
	}
}

// *****************************************
// 
//     		Header for each section
// 
// *****************************************

.team,
.investment,
.p-info {
	margin-bottom: 18px;

	h3 {
		font-size: 1.2em;
		font-weight: 700;
		margin-bottom: 6px;
	}

	p {
		margin-bottom: 6px;
		line-height: 1.2em;
		padding-left: 4px;
	}

	.sub {
		font-size: 1em;
		font-weight: 500;
		padding-left: 5px;
	}
}


.investment {
	h5,
	h4,
	span {
		font-size: 1em;
		letter-spacing: 1.29px;
		font-weight: 500;
		color: $headerWritting;
	}

	h5 {
		font-style: italic;
		margin-bottom: 5px;

	}

	li {
		margin-bottom: 5px;
	}
}

.editingPower {
	.startupHeader h2,
	.startupHeader a,
	.team h3,
	.investment h3,
	.investment h4,
	.p-info h3 {
		cursor: pointer;

		&::after {
			content: url("/img/svg/edit.svg");
			margin-left: -8px;
			opacity: 0;		
			transition: margin-left 0.1s 0s opacity 0.2s;

		}

		&:hover::after {
			opacity: 1;
			margin-left: 8px;
			transition: margin-left 0.2s, opacity 0.2s;
		}

		&.fake:hover::after {
			content: "";
		}

		&.fake {
			margin-bottom: 15px;
		}
	}

	.startupHeader h2::after,
	.startupHeader a::after {
		content: url("/img/svg/editWhite.svg");
	}
}


// *****************************************
// 
//       Employee in Startup Tab
// 
// *****************************************

.employee_Container {
	width: 100%;
	padding: 5px;
	@include display(flex);
	background: $backgroundEmployees;
	border-radius: 2px;
	margin-bottom: 10px;

	img.employeeProfile {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}

	.removeEmployee {
		display: none;
	}


	.employee_info {
		margin-left: 15px;
		@include display(flex);
		@include flex-direction(column);

		h3, 
		p {
			cursor: initial;
		}

		h3 {
			margin-top: auto;
		}
		p{
			margin-bottom: auto;
			margin-top: 5px;
		}
	}
}

.editEmployee {
	position: relative;

	.removeEmployee {
		display: block;
		position: absolute;
		top: -4px;
		left: -4px;
		cursor: pointer;
	}
}

.team input[type="search"] {
    background-color: white;
    border: 1px solid #979797;
    color: #4A4A4A;
    font-size: 1em;
    width: 100%;
    height: 36px;
    border-radius: 2px;
    padding-left: 6px;
    padding-right: 10px;
}

// *****************************************
// 
// List of items that needs to be edited
// 
// *****************************************


.list_saved_container {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.added_list {
	padding: 10px 0px 6px;

	.itemsToEdit {
		border: solid 1px $dark_background;
		border-radius: 2px;
		padding: 6px 10px;
		background: white;
		font-size: 1em;
		margin-right: 15px;
		margin-bottom: 6px;
		cursor: pointer;
		display: inline-block;
		position: relative;

		&::after {
			content: url("/img/svg/remove-lg.svg");
			position: absolute;
			cursor: pointer;
			top: -6px;
			right: -12px;
		}
	}
}

.p-info{

	ul {
		padding-left: 20px;

		li {
			list-style: initial;
			margin-bottom: 8px;
		}
	}
}

.degree ul {
	padding-left: 30px;

	li {
		list-style-image: url("/img/svg/diploma.svg");
	}
}

.learning ul,
.expertise ul {
	padding-left: 0px;

	li {
		list-style: none;
		background: white;
		border: 1px solid $dark_background;
		border-radius: 2px;
		display: inline-block;
		padding: 5px 10px;
	}
}

// *****************************************
// 
//  		Social Media Startup
// 
// *****************************************

#social,
#startup_media,
#media {
	a::before {
		margin-right: 6px;
		background-size: 20px 20px;
	    display: inline-block;
	    width: 20px; 
	    height: 20px;
	    content:"";
	}
}

.facebook a::before {
	background-image: url("/img/svg/facebook.svg");
}

.twitter a::before {
	background-image: url("/img/svg/twitter.svg");
}

.instagram a::before {
	background-image: url("/img/svg/instagram.svg");
}

.linkedin a::before {
	background-image: url("/img/svg/linkedin.svg");
}

.angel a::before {
	background-image: url("/img/svg/angellist.svg");
}



// *****************************************
// 
//     General Editing / Saving Options
// 
// *****************************************

.saveEditing {
	display: none;
}

.saveEditing,
.editOptions {
	width: 100%;
	text-align: right;
	margin-top: auto;

	a {
		text-decoration: underline;
		font-weight: 600;
	}
}



// *****************************************
// 
//     		Editing section
// 
// *****************************************

.editMode {
	display: none;
	background: $profileEditBackground;
	padding: 10px;

	textarea,
	input[type="url"],
	input[type="text"],
	input[type="date"],
	input[type="email"],
	input[type="phone"] {
		background: white;
		border: 1px solid $greyBorder;
		border-radius: 2px;
		font-size: 0.8em;
		letter-spacing: 1.69px;
		min-width: 200px;
		padding: 5px;
	}

	textarea,
	input[type="url"],
	input[type="text"] {
		width: 100%;
	}

	textarea {
		height: 80px;
	}

	input[type="phone"],
	input[type="email"] {
		width: 50%;
		min-width: 251px;
		max-width: 500px;
	}

	button {
		font-size: 1em;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
		@include btn($backgroundButton, 30px, 110px);	
	}

	button[type="submit"] {
		background: $saveEditing;
		@include box-shadow(0 3px 0 darken($saveEditing, 15%));
	}

	.btnOptions {
		margin-top: 10px;
	}

	.adding_list {
		input[type="text"],
		input[type="textarea"] {
			width: calc(99% - 75px);
			min-width: 175px;
		}
	}

	button.add_to_list {
		width: 70px;
	}
}

//Editing with search

.search {
	position: relative;
	// max-width: 440px;
	img {
		position: absolute;
		top: 11px;
		right: 15px;
		transition: opacity 0.2s;
	}

	input:focus + img,
	input:active + img{
		opacity: 0;
	}
}

.search_results {
	display: none;
	background-color: $profileEditBackground;
	width: 100%;
	margin-top: 10px;
}

.search_result_startup {
	background-color: white;
	padding: 5px;
	margin-bottom: 1px;
	border-radius: 2px;
	@include display(flex);
	cursor: pointer;

	div, 
	h4 {
		margin-bottom: auto;
		margin-top: auto;
	}

	h4 {
		margin-left: 5px;
	}

	&:hover {
		background: $hoverOnWhite;
	}
}


// ************************
//
// 	      Student
//
//*************************


.degree{
	i:before {
		content: url("/img/svg/diploma.svg");
		margin-right: 4px;
	}

	i {
		display: inline-block;
		margin: 5px;
	}

	.list_saved_container i {
		border: none;
	}

	.added_list i {
		padding: 5px 10px;
	}
}

// ************************
//
// 	   Coach Specific
//
//*************************

.logo_container {
	@include display(inline-flex);
	@include aspect-ratio(50, 50);
	height: auto;
	width: auto;
	min-width: 40px;
	min-height: 40px;
	max-width: 80px;
	max-height: 80px;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	text-align: center;	

	img {
		display: block;
		margin: auto;
		height: 15px;
	}
}

.startup_coached {

	form {
		width: 100%;
	}

	input[type="search"] {
		background-color: white;
		border: 1px solid $greyBorder;
		color: $writting;
		font-size: 1em;
		width: 100%;
		height: 36px;
		border-radius: 2px;
		padding-left: 6px;
		// max-width: 440px;
		padding-right: 10px;
	}

	.edit a::after {
		content: url("/img/svg/remove-sm.svg");
		position: absolute;
		top: 1px;
		right: -4px;
	}

	.logo_container {
		margin-right: 4px;
	}
}



// ************************
//
// 		Startup_Stage
//
//*************************

.startup_stage {
	@include display(flex);

	.stage {
		padding: 8px 0px;
		background-color: white;
		border: 1px solid $d3Orange;
		text-align: center;
		border-right: none;
		width: 25%;

		&:last-child {
			border-right: 1px solid $d3Orange;
		}


		p {
			color: $dark_background;
			padding: 0;
			margin: 0;
			font-weight: 500;
		}
	}

	.completed {
		background-color: $d3Orange;
		position: relative;

		p::after{
			content: url("/img/svg/completedStage.svg");
			margin-left: 4px;
		}

		// &::after {
		// 	content: url("/img/svg/separators.svg");
		// 	position: absolute;
		// 	left: 0px;
		// 	top: 3px;
		// }

		// &:first-child::after {
		// 	content: "";
		// }
	}
}


// ************************
//
// 		Startup_DATA
//
//*************************

.inves__round {
	margin-top: 14px;
	margin-bottom: 24px;

	.round__name {
		font-weight: 500;
		padding-left: 0;
		margin-left: 10px;
		position: relative;
		display: initial;

		.underline {
			position: absolute;
			width: 100%;
			border-bottom: 2px solid $d3Orange;
			right: 0;
			bottom: -1px;
		}

		span {
			font-weight: inherit;
		}
	}
}

.removeRound {
	margin-right: 4px;
	display: none;
	cursor: pointer;
}

.editingRound {

	.removeRound {
		display: inline-block;
	}

	// &::before {
	// 	content: url("/img/svg/remove-lg.svg");
	// 	margin-right: 5px;
	// 	cursor: pointer;
	// 	transition: transform 0.2s;
	// }
}


.use_of_funds {
	margin-bottom: 15px;
    margin-top: 9px;

    h4 {
    	margin-bottom: 3px;
    }
}


.investment	{
	.exp_fund_details {
		font-weight: 300;
		font-size: 0.7em;
		cursor: pointer;
		position: relative;

		&::after {
			@include triangle (10px, $d3Orange, right);
			position: absolute;
			top: 3px;
			right: -9px;
			content: ("");
			transition: all 0.2s;
		}

		&.expand::after {
			transform: rotate(90deg);
		}
	}

	.amount,
	.name {
		display: inline-block;
		margin-top: 10px;

		input{
			min-width: 100px;
		}
	}

	.amount {
		width: 110px;
		padding-left: 10px;
	}

	.name {
		width: calc(100% - 120px);
	}
}



.fund_details {
	display: none;
	padding-top: 4px;
}

div[class^="edit_funds"] {
	margin-top: 20px;
}

.addRound button {
	@include btn($saveEditing, 30px, 110px);
	font-size: 1em;
}


