.profile_wrapper {
	width: 100%;
	max-width: 800px;
	margin: auto auto;
	padding-top: 30px;
}

.compHedaer {
	width: 100%;
	height: 260px;
	@include display(flex);
	@include justify-content(center);
	@include align-content(center);
	border: 0.5px solid $greyBorder;

	img {
		margin: auto auto;
		max-width: 90%;
	}
}

.indHeader { 
	width: 100%;
	height: 120px;
	background-color: $dark_background;
	text-align: center;
	position: relative;
	padding-top: 85px;

	img {
		width: $profilePictureSize;
		height: $profilePictureSize;
		border-radius: 50%;
		position: absolute;
		top: -70px;
		left: calc(50% - 75px);
		border: 0.5px solid white; 
	}

	h2 {
		color: white;
		font-weight: 500;
		font-size: 1.2em;
	}
}


.profile_tabs {

	.tabs {
		@include display(flex);
	}

    .top_tab {
	    background: $dark_background;
	    border-top: 0.5px white solid;
	    border-right: 0.5px white solid;
	    @include flex-grow(1);
	    transition: background 0.3s;

	    &:last-child {
	    	border-right: none;
	    }

	    a {
	    	width: 100%;
	    	color: white;
	    	text-align: center;
	    	display: block;
		    padding: 16px 0px;
		    text-transform: uppercase;
		    font-weight: 500;
		    transition: color 0.3s;
	    }
	}

	div.active {
	    background: white;

	    a {
	    	color: $dark_background;
	    }

	    &:first-child {
	    	border-left: 1px solid $greyBorder;
	    }

	    &:last-child {
	    	border-right: 1px solid $greyBorder;
	    }
	}
}


.tabInner {
    clear: both;
	border-right: 0.5px solid $greyBorder;
	border-left: 0.5px solid $greyBorder;
	border-bottom: 0.5px solid $greyBorder;
	@include display(flex);
	overflow-x: hidden;


    .tab {
	    padding: 10px;
	    min-width: 100%;
	    margin-right: 10px;
	    background: white;
	    @include display(flex);
	    @include flex-direction(column);
	}
}

.p-info {
	margin-bottom: 18px;

	h3 {
		font-size: 1em;
		font-weight: 700;
		margin-bottom: 6px;
	}

	p {
		margin-bottom: 6px;
		line-height: 1.2em;
	}
}

.employee_Container {
	width: 100%;
	padding: 5px;
	@include display(flex);
	background: $backgroundEmployees;
	border-radius: 2px;
	margin-bottom: 10px;

	img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}

	.employee_info {
		margin-left: 15px;
		@include display(flex);
		@include flex-direction(column);

		h3, 
		p {
			cursor: initial;
		}

		h3 {
			margin-top: auto;
		}
		p{
			margin-bottom: auto;
			margin-top: 5px;
		}
	}
}




.list_saved_container {
	width: 100%;
	padding: 10px;

	i {
		border: solid 1px $dark_background;
		border-radius: 2px;
		padding: 2px 6px;
		background: white;
		font-size: 1em;
		margin-right: 4px;
	}
}

.saveEditing {
	display: none;
}

#social {
	a::before {
		height: 1em;
		width: 1em;
		margin-right: 6px;
	}
}

.facebook a::before {
	content: url("../img/svg/facebook.svg");
}

.twitter a::before {
	content: url("../img/svg/twitter.svg");
}

.instagram a::before {
	content: url("../img/svg/instagram.svg");
}

.linkedin a::before {
	content: url("../img/svg/linkedin.svg");
}

.angel a::before {
	content: url("../img/svg/angellist.svg");
}

.saveEditing,
.editOptions {
	width: 100%;
	text-align: right;
	margin-top: auto;

	a {
		text-decoration: underline;
		font-weight: 600;
	}
}

.p-info h3 {
	cursor: pointer;

	&::after {
		content: url("../img/svg/edit.svg");
		margin-left: 8px;
		opacity: 0;		
		transition: opacity 0.2s;
	}

	&:hover::after {
		opacity: 1;
	}
}

.editMode {
	display: none;
	background: $profileEditBackground;
	padding: 10px;

	textarea,
	input[type="text"],
	input[type="date"],
	input[type="email"],
	input[type="phone"] {
		background: white;
		border: 1px solid $greyBorder;
		border-radius: 2px;
		font-size: 0.8em;
		letter-spacing: 1.69px;
		min-width: 200px;
		padding: 5px;
	}

	textarea,
	input[type="text"] {
		width: 100%;
	}

	textarea {
		height: 80px;
	}

	input[type="phone"],
	input[type="email"] {
		width: 50%;
		min-width: 251px;
		max-width: 500px;
	}

	button {
		font-size: 1em;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
		@include btn($backgroundButton, 30px, 110px);	
	}

	button[type="submit"] {
		background: $saveEditing;
		@include box-shadow(0 3px 0 darken($saveEditing, 15%));
	}

	.btnOptions {
		margin-top: 10px;
	}

	.adding_list {
		input[type="text"],
		input[type="textarea"] {
			width: calc(99% - 75px);
			min-width: 175px;
		}
	}

	button.add_to_list {
		width: 70px;
	}
}


.added_list {
	padding: 10px 0px;

	i {
		border: solid 1px $dark_background;
		border-radius: 2px;
		padding: 2px 6px;
		background: white;
		font-size: 1em;
		margin-right: 4px;
		cursor: pointer;

		&::after {
			content: url("../img/svg/deleteExpertise.svg");
			margin-left: -12px;
			cursor: pointer;
			opacity: 0;
			transition: margin 0.15s, opacity 0s;
		}

		&:hover::after {
			margin-left: 10px;
			margin-right: 4px;
			opacity: 1;
			transition: margin 0.2s, opacity 0.2s 0.1s;
		}
	}
}


.degree{
	i:before {
		content: url("../img/svg/diploma.svg");
		margin-right: 4px;
	}

	i {
		display: inline-block;
		margin: 5px;
	}

	.list_saved_container i {
		border: none;
	}

	.added_list i {
		padding: 5px 10px;
	}
}



