.booking_wrapper{
	margin: auto auto;
	padding: 0 0;

	.header {
		width: 100%;
		.headerNav{
			height: 50px;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) 

		}

		.headerPicture{
			margin: 5vh 0;
			text-align: center;
			img{

				border-radius: 50%;
				box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
				height: 25vh;
				width: 25vh;
			}
		}
	}
}


.bookingBoard{
	width: 100%;
	margin: auto auto;
}


.upcoming{
	width: 100%;
	height: 50px;
	border: lighten($greyBorder, 20%) 1px solid;
	background-color: #f8f8f8;
	@include display(flex);
	@include justify-content(space-between);
	p {
		margin: auto;
		margin-left: 15px;
		font-size: 16px;
		font-family: '.HelveticaNeueDeskInterface-Regular';
		line-height: 1.1;
		letter-spacing: 1.9px;
		color: lighten(#6a6a6a,10%);
	}
	button{
		margin: auto;
		margin-right: 15px;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	}
}

.history{
	width: 100%;
	height: 50px;
	border: lighten($greyBorder, 20%) 1px solid;
	background-color: #f8f8f8;
	@include display(flex);
	@include justify-content(space-between);
	p {
		margin: auto;
		margin-left: 15px;
		font-size: 16px;
		font-family: '.HelveticaNeueDeskInterface-Regular';
		line-height: 1.1;
		letter-spacing: 1.9px;
		color: lighten(#6a6a6a,10%);
	}
}

.upcomingBox,
.historyBox {
	max-width: 100%;
	margin: auto auto;

	padding: 0 15px;
	padding-bottom: 15px;

	
}

.booking {
	position: relative;
	margin-top: 15px;
	padding: 10px 10px;
	width: 100%;
	border-radius: 7px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 #b4b4b4;
	border: solid 0.5px #c7c7c7;
	display: block;
	&.new{
		height: 45vh;
	}
	&.old{
		height: 35vh;
	}
	.booking-detail div{
		font-family: 'Avenir-book';
		font-size: 0.9em;
		letter-spacing: 1.3px;
		color: $writting;
		line-height: 130%;
		&.name{
			font-family: 'Avenir-medium';
			letter-spacing: 1.7px;
			font-size: 1.2em;
		}
		&.capacity{
			padding-top: 15px;
		}
		&.time{
			position: relative;
			.duration {
				padding-left: 20px;
			}
			.meetingClock {
				position: absolute;
				width: 18px;
				height: 18px;
				background-position: 0 -770px;
			}

		}
	}
	.booking-edit{
		position: absolute;
		bottom:15px;
		right: 15px;
		a {	
			font-family: '.HelveticaNeueDeskInterface-Regular';
			font-size: 1.1em;
			letter-spacing: 1.7px;
			padding: 2px 8px;
			color: $bookingWritting;
			&.verticalLine{
				border-left: solid 2px #979797;
			}
		}
	}
}