.roomHeader {
	margin: auto auto; 
	height: 120px;
	width: 100%;
	text-align: center;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
	background-color: #2979ff;
	.signs{
		margin: auto;
		width: 35%;
		@include display(flex);
		@include justify-content(space-around);
		[class^="circle"]{
			height: 20px;
			width: 20px;
			border-radius: 50%;
			background-color: darken(#ffffff, 20%);
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.33);
		}
		.circle-active {
				background-color: #ffffff;
		}
	}
	.title {
		padding-top: 30px;
		padding-bottom: 20px;
		font-family: 'Avenir-Medium';
		font-size: 18.4px;
		line-height: 1;
		letter-spacing: 2.2px;
		color: #ffffff;
	}
}

.box_wrapper {
	max-width: 100%;
	margin: auto 10px;
	margin-bottom: 30px;


	input[type="radio"]{
		position: absolute;
		top: 25px;
	    visibility:hidden;
	}
}

.room-btn {
	@include btn( #f57c00, 34px, 134px);
	box-shadow: 0 2px 4px 0 #b4b4b4;
	font-family: 'Avenir-Medium';
	font-size: 18px;
	letter-spacing: 1.7px;
	color: #ffffff;
	line-height: 34px;
	vertical-align: middle;
	&-2{
		@include btn( #f57c00, 45px, 230px);
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 8px 8px 0 rgba(0, 0, 0, 0.24);		font-family: 'Avenir-Medium';
		font-size: 18px;
		letter-spacing: 1.7px;
		color: #ffffff;
	}
}