.booking_wrapper{
	margin: auto auto;
	display: block;
	@media (min-width: 420px) {
		min-width: 320px;
		max-width: 550px;
		margin-bottom: 5vh;
		border: lighten($greyBorder, 20%) 1px solid;
	}
}

.bookingHeader_wrapper{
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}
.bookingHeader{
	width: 100%;
	height: 120px;
	background-color: #2979ff;
	position: relative;

	.headerText{
		position: absolute;
		left: 40px;
		bottom: 42px;
		font-family: 'Avenir-Medium';
		font-size: 18.4px;
		line-height: 1;
		letter-spacing: 2.2px;
		color: #ffffff;
	}
}

.booking-btn {
	@include btn(#f57c00,62px,63px);
	color: lighten(white,10%);
	font-size: 0.85em;
	position: absolute;
	bottom: 23px;
	right: 28px;
	border-radius: 50%;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
}
.horizontalLine{
	position: absolute;
	left: 24px;
	top: 31px;
	width: 15px;
	border-bottom: solid 2px #ffffff;
}

.verticalLine{
	position: absolute;
	left: 30px;
	top: 25px;
	height: 15px;
	border-left: #ffffff 2px solid;
}

.bookingTabs{
	height: 45px;
	margin: auto auto;
	position: relative;
	background-color: #2979ff;
}

.tab{
	display:inline-block;
	line-height: 43px;
	width: 50%;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	font-family: '.HelveticaNeueDeskInterface-Regular';
	color: #ffffff;
	opacity: 0.5;
	cursor: pointer;
}
.onSelect{
	opacity: 1;
	@include transition(0.5s);
}

.selectBorder{
	width:50%;
	position: absolute; 
	border-bottom: solid 2px #ffa726;
	left: 0%;
	bottom: 0px;
	@include transition(0.5s);
}

.pendingBox,
.historyBox,
.upcomingBox{
	max-width: 100%;
	margin: auto 10px;
	padding-bottom: 20vh;
}
.historyBox{
	display:none;
}

.roomBooking {
	position: relative;
	margin-top: 15px;
	width: 100%;
	border-radius: 2px;
	box-shadow: 0 2px 4px 0 #b4b4b4;
	overflow: auto;
}

.bookingTitle{
	height: 135px;
	position: relative;
	background:linear-gradient(to bottom, rgba(40, 121, 255, 0.3), rgba(40, 121, 255, 0.8)),url("../img/meetingroom.jpg");
	background-size: 100% 100%;
	border: none;
	p{
		font-family: 'Avenir-Medium';
		font-size: 24px;
		line-height: 0.8;
		letter-spacing: 2.2px;
		color: #ffffff;
		position: absolute;
		left: 16px;
		bottom: 24px;
	}
}


.bookingInfor{
	background-color: #fafafa;
	position: relative;
	padding: 15px 15px;
	.bookingTime,
	.bookingDate,
	.bookingDuration,
	.bookingClock{
		font-family: 'Avenir-BookOblique';
		font-size: 14px;
		line-height: 1.4;
		letter-spacing: 1.3px;
		color: #4a4a4a;
	}
	.bookingClock,
	.bookingTime,
	.bookingDuration{
		display: inline-block;
	}
}


.bookingClock {
	width: 15px;
	height: 15px;
	background-position: 0 -770px;
	vertical-align: middle;
}


.bookingEdit{
	position: relative;
	@include display(flex);
	margin-top: 35px;
	a{
		font-family: '.HelveticaNeueDeskInterface-MediumP4';
		font-size: 16px;
		letter-spacing: 1.5px;
		color: #4a4a4a;
		&.cancel {
			margin-left: 40px;
		}
	}
}


.toggleSign{
	display: inline-block;
	position: absolute;
	right: 10px;		
	height: 20px;
	width: 20px;
	background-position: 0 -840px;
	transition: 0.5s;
	cursor: pointer;
}


.toggleContent{
	display: none;
	margin-top: 20px;
	p,
	li{
		list-style-type: disc;
		list-style-position: inside;
		font-family: 'Avenir-Book';
		line-height: 1.4;
		font-size: 14px;
		letter-spacing: 1.3px;
		color: #4a4a4a;
	}
	.equipment{
		margin-top:20px;
	}
}


//*************************
//
//	Booking room Step 1
//
//*************************
.roomTab{
	position: relative;
	@include display(flex);
	.toggleSign{
		top: 8px;
	}
}




