.centerTime{
	margin:auto auto;	
	border: none;
	height: 95%;
	overflow-y: scroll;
	input{
		visibility:hidden;
	}
	label{
		font-family: '.HelveticaNeueDeskInterface-Regular';
		font-size: 16px;
		letter-spacing: 1.7px;
		text-align: center;
		color: #9b9b9b;
		line-height: 30px;
		padding-left: 20px;
	}
}

.input_form_create_meeting {		
	height: 332px;
	background-color: #ffffff;
	border: solid 0.5px #979797;
 	border-radius: 2px;
	width: 80%;
	margin: 16px auto;
	margin-bottom: 25px;
	text-align: center;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
	
	&:hover{
		border: 1px solid #555c82;
	}
	@media (min-width: 400px) {
		max-width: 765px;
		height: 770px;
		margin: 2vh auto;
	}

	.calender_create_meeting{
		position: relative;
		display: block;	
		margin: 10px auto;
		input {
			font-size: 1em;
			font-family: sans-serif;
			font-weight: 200;
			border: 1px solid #999;
			padding: .75em 1em;
			width: 70%;
			&:hover{
			border: 1px solid #555c82;
			}
		}	
		:hover
	 	 {
			border: 1px solid #555c82;
		}
		.chevronLeft {
			position: absolute;
			top: 15px;
			left: 7px;			
			width: 15px;
			height: 17px;
			background-position: 0 -800px;
		}
		.chevronRight {
			position: absolute;
			top: 15px;
			right: 7px;
			width: 19px;
			height: 20px;
			background-position: 0 -820px;
			
		}			
	}

}
.activeForCalender{
    background-color: #2979ff;
    label{
    	color: #ffffff;
    }
}

.next{
	margin: 30px auto;
	text-align: center;
}

//*************************
//
//	Confirm onverlayer
//
//*************************

.confirm_overlayer{
	display: none;
	position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
	background-color: rgba(32, 35, 52, 0.9);
	text-align:center;
}

.confirmation_wrapper{
	min-width: 280px;
	background-color: #ffffff;
	box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.24), 0 0 14px 0 rgba(0, 0, 0, 0.12);
	text-align: center;
	overflow: auto;
	margin: 10vh 20px;
	@media (min-width: 420px) {
		min-width: 320px;
		max-width: 550px;
		margin: 10vh auto;
	}
}
.confirmation_header{
	padding:30px 15px;
	font-family: '.HelveticaNeueDeskInterface-MediumP4';
	font-size: 18px;
	letter-spacing: 1.3px;
	text-align: center;
	color: #4a4a4a;
}

.setDuration{
	padding: 70px 0;
	p{
		font-family: '.HelveticaNeueDeskInterface-Regular';
		font-size: 18px;
		letter-spacing: 1.3px;
		text-align: center;
		color: #4a4a4a;
	}
	input{
		margin-top: 10px;
		font-family: 'Avenir-Book';
		font-size: 18px;
		letter-spacing: 0.2px;
		color: #4a4a4a;
		text-align: center;
		border: none;
	}
	.durationBorder{
		margin: auto;
		width: 95px;
		border-bottom:  solid 1px #979797;
	}
}

.confirmInfor{
	padding-top: 25px;
	.confirmTitle{
		font-family: 'Avenir-Medium';
		font-size: 24px;
		line-height: 1.3;
		color: #4a4a4a;
	}
	.confirmDate,
	.confirmTime{
		font-family: 'Avenir-Book';
		font-size: 18px;
		letter-spacing: 0.2px;
		line-height: 1.3;
		color: #4a4a4a;
	}
}

