*,
*::before {
	box-sizing: inherit;
}
.logIn_wrapper {
	max-width: 800px;
	margin: auto auto;
}
.pic_container,
.form_container,
.footer_container {
	width:100%;
	margin: auto auto;
}


.logIn_pic {
	margin: 40px auto;
	width: 130px;
	height: 130px;
	.logIn_image {
		width: 100%;
		margin: auto auto
	}
}



.logIn_tabs {
	margin-top: 60px;
	margin-left: 50px;
	margin-right: 50px;
	border: 1px solid #ddd;
	border-radius: 4px;
    box-sizing: border-box;

    // try to add svg image before the password input tag
 //    .password::before{
	// 	// content:url("../img/svg/pplMeeting.svg");
	// 	content: "read this";
	// }

    hr {
    	color: #D3D3D3;
    	width: 100%;
    	margin: auto auto;
    }

    input[type=text]{
    	float: right;
    	height: 40px;
    	width: 80%;
		box-sizing: border-box;
		
    }
    input[type=submit]{
    	height: 40px;
    	width: 100%;
    	background: #808080;
    	color: white;
    }
}

.footer {
	margin-top: 80px;
	a {
		font-size: 10px;
		display: inline;
		margin-left: 45px;
	}
}
