
.logIn_wrapper {
	max-width: 800px;
	margin: auto auto;
}
.pic_container,
.form_container,
.footer_container {
	width:100%;
	margin: auto auto;
}


.logIn_pic {
	margin: 40px auto;
	width: 130px;
	height: 130px;
	.logIn_image {
		width: 100%;
		margin: auto auto
	}
}



.logIn_tabs {
	margin-top: 60px;
	margin-left: 50px;
	margin-right: 50px;
	border: 1px solid #ddd;
	border-radius: 1px;


	img{
		position: absolute;
		float: left;
		padding-top: 15px;
		padding-left: 15px;
		&.padlock {
			padding-top: 55px;
		}
	}

    .username, .password {
    	border: none;
    	float: right;
    	height: 40px;
    	width: 100%;
    	text-indent: 40px;
    	&.username {
    		border-bottom: 1px solid black;
    	}
		
    }
    .submit {
    	border: none;
    	height: 40px;
    	width: 100%;
    	background: #808080;
    	color: white;
    	&:active {
    		background: white;
    		color: black;
    	}
    }
}

.footer {
	margin-top: 80px;
	a {
		font-size: 10px;
		display: inline;
		margin-left: 45px;
	}
}
