$desktop-breakpoint: 720px;
.signUpWrapper {
	max-width: 800px;
	margin: auto auto;
	border : 1px solid grey;
}
.picContainer,
.footerContainer {
	width:100%;
	margin: auto auto;
	position: relative;
}


	.d3Image {
		max-width: 35%;
		min-width: 160px;
		display: block;
		margin: 10vh auto;
	}

.SearchAzax {	
		
		width:85%;
		margin-left : 3vh;
		height:30px;
		outline: none;
		border: 2px solid #999999;		
		background-color: #FBFBFB;
		font-family: Avenir-Roman;
		font-size: 12px;
		background-position: right;
		background-image: url('../img/svg/search.svg');
		background-repeat: no-repeat;
		&:hover{
				border : 1px solid blue;
			}
		@media (min-width: $desktop-breakpoint) {
			margin-left : 10vh;
			width: 60%
		}	
}

.signUpElements {
	max-width: 50%;
	min-width: 240px;
	display:block;
	margin: auto auto;
	margin-top: 10vh;

	position: relative;
	p{
		margin-left : 3vh;
	}
	
	img{
		position: absolute;
		top: 13px;
		left: 15px;

		&.email {
			top: 50px;
			right: 30px;
			
		}
		&.padlock {
			top:90px;
			//top: auto;
		}
		&.repeatPadlock {
			
			top: 130px;
		}
		&.url {
			top: 170px;
		}
	}

	::-webkit-input-placeholder {
	   color: #1d1d26;
	   font-family: Avenir-Book;
	}

     .signUpInput {
    	border: none;
    	height: 40px;
    	width: 100%;
    	text-indent: 45px;
    	margin: auto auto;
    	&:hover {
    		border-bottom: solid 0.4px blue;
    	}
    }

    .submit {
    	border: none;
    	height: 40px;
    	margin-left : 3vh;
    	width: 85%;
    	background: #4a4a4a;
    	color: #ffffff;
    	font-family: Avenir-Roman;
    	&:active {
    		background: white;
    		color: black;
    	}
    	&:hover{
				border : 1px solid blue;
			}
		@media (min-width: $desktop-breakpoint) {
			margin-left : 10vh;
			width: 60%;
			
		}	
    }
    @media (min-width: $desktop-breakpoint) {
			p{
				margin-left : 10vh;
			}
			
		}
}
 
.footer {
	max-width: 50%;
	min-width: 240px;
	margin: 5vh auto;

	a {
		font-family: Avenir-Book;
		font-size: 9px;
		color: #4a4a4a;
		&.Already-have-an-acco {
			margin-left: 6vh;
			&:hover{
				border : 1px solid blue;
			}
		}
		
	}
	@media (min-width: $desktop-breakpoint) {
		margin: 20px auto;
		a {		
		font-size: 13px;		
		&.Already-have-an-acco {
			margin-left: 11vh;
			&:hover{
				border : 1px solid blue;
			}
		}
		}
	}
}

.footer_icons {
	display: none;
	width: 100%;
	max-width: 50%;
	margin: 20vh 25%;
	@media (min-width: $desktop-breakpoint) {
		display: inline-flex;
		justify-content: space-between;
	}
}








